article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px
solid silver;margin:0
2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}*,input[type="search"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.archive-pagination:before,.clearfix:before,.entry:before,.entry-pagination:before,.footer-widgets:before,.nav-primary:before,.nav-secondary:before,.site-container:before,.site-footer:before,.site-header:before,.site-inner:before,.wrap:before{content:" ";display:table}.archive-pagination:after,.clearfix:after,.entry:after,.entry-pagination:after,.footer-widgets:after,.nav-primary:after,.nav-secondary:after,.site-container:after,.site-footer:after,.site-header:after,.site-inner:after,.wrap:after{clear:both;content:" ";display:table}html{font-size:62.5%}body{background-color:#fff;color:#666;font-family:'Neue Helvetica W02','Helvetica Neue',Helvetica,Arial,sans-serif;letter-spacing: .5px;font-size:18px;font-size:1.8rem;font-weight:300;line-height:1.5}@media only screen and (max-width: 400px){body{font-size:16px;font-size:1.6rem}}a,button,input:focus,input[type="button"],input[type="reset"],input[type="submit"],textarea:focus,.button{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}::-moz-selection{background-color:#6d81bf;color:#fff}::selection{background-color:#6d81bf;color:#fff}a{color:#666;text-decoration:none}a
img{margin-bottom:-4px;margin-bottom:-0.4rem}a:hover{color:#333}p{margin:0
0 24px;margin:0
0 2.4rem;padding:0}strong{font-weight:700}ol,ul{margin:0;padding:0}blockquote,blockquote::before{color:#999}blockquote{margin:40px
40px 24px;margin:4rem 4rem 2.4rem}blockquote::before{content:"\201C";display:block;font-size:30px;font-size:3rem;height:0;left:-20px;position:relative;top:-10px}.entry-content
code{background-color:#333;color:#ddd}cite{font-style:normal}h1,h2,h3,h4,h5,h6{color:#545454;font-weight:400;line-height:1.2;margin:0
0 16px;margin:0
0 1.6rem}h1{font-size:36px;font-size:3.6rem}h2{font-size:30px;font-size:3rem}h3{font-size:26px;font-size:2.6rem;font-weight:300;margin-bottom:10px}h4{font-size:20px;font-size:2rem}h5{font-size:18px;font-size:1.8rem}h6{font-size:16px;font-size:1.6rem}embed,iframe,img,object,video,.wp-caption{max-width:100%}img{height:auto;width:auto}input,select,textarea{background-color:#fff;border:1px
solid #ddd;border-radius:3px;box-shadow:1px 1px 3px #eee inset;color:#999;font-size:14px;font-size:1.4rem;padding:16px;padding:1.6rem;width:100%}input:focus,textarea:focus{border:1px
solid #999;outline:none}::-moz-placeholder{color:#999;opacity:1}::-webkit-input-placeholder{color:#999}button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.entry-content
.button{background-color:#333;border:none;box-shadow:none;color:#fff;cursor:pointer;padding:16px
24px;padding:1.6rem 2.4rem;text-transform:uppercase;width:auto}button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.entry-content .button:hover{background-color:#f15123}.entry-content .button:hover{color:#fff}.button{border-radius:3px;display:inline-block}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button{display:none}table{border-collapse:collapse;border-spacing:0;line-height:2;margin-bottom:40px;margin-bottom:4rem;width:100%}tbody{border-bottom:1px solid #ddd}th,td{text-align:left}th{font-weight:bold}td{padding:6px
0;padding:0.6rem 0}td:first-child{padding:6px
0;padding:0.6rem 0}.site-inner,.wrap{margin:0
auto;max-width:1140px}.site-inner{clear:both}.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap{width:950px}.content-sidebar-sidebar .content-sidebar-wrap{float:left}.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap{float:right}.content{float:right;width:630px}.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar
.content{float:left}.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content
.content{width:650px}.full-width-content
.content{width:100%}.sidebar-primary{float:right;width:280px}.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary{float:left}.sidebar-secondary{float:left;width:230px;font-size:17px}.content-sidebar-sidebar .sidebar-secondary{float:right}.five-sixths,.four-sixths,.one-fourth,.one-half,.one-sixth,.one-third,.three-fourths,.three-sixths,.two-fourths,.two-sixths,.two-thirds{float:left;margin-left:2.564102564102564%}.one-half,.three-sixths,.two-fourths{width:48.717948717948715%}.one-third,.two-sixths{width:31.623931623931625%}.four-sixths,.two-thirds{width:65.81196581196582%}.one-fourth{width:23.076923076923077%}.three-fourths{width:74.35897435897436%}.one-sixth{width:14.52991452991453%}.five-sixths{width:82.90598290598291%}.first{clear:both;margin-left:0}.avatar{float:left}.alignleft
.avatar{margin-right:24px;margin-right:2.4rem}.alignright
.avatar{margin-left:24px;margin-left:2.4rem}.search-form input[type="submit"]{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;padding:0;position:absolute;width:1px}.sticky{}img.centered,.aligncenter{display:block;margin:0
auto 24px;margin:0
auto 2.4rem}img.alignnone{margin-bottom:12px;margin-bottom:1.2rem}.alignleft{float:left;text-align:left}.alignright{float:right;text-align:right}img.alignleft,.wp-caption.alignleft{margin:0
24px 24px 0;margin:0
2.4rem 2.4rem 0}img.alignright,.wp-caption.alignright{margin:0
0 24px 24px;margin:0
0 2.4rem 2.4rem}.wp-caption-text{font-size:14px;font-size:1.4rem;font-weight:700;text-align:center}.gallery-caption{}.widget_calendar
table{width:100%}.widget_calendar td,
.widget_calendar
th{text-align:center}.breadcrumb{padding-left:0;margin-top:50px;margin-top:5rem;margin-bottom:40px;margin-bottom:4rem;font-size:20px}.breadcrumb a:hover{color:#6d81bf}@media only screen and (max-width: 1024px){.breadcrumb{padding-left:5%;padding-right:5%}}.archive-description,.author-box{background-color:#fff;margin-bottom:40px;margin-bottom:4rem}.archive-description{padding:40px
40px 24px;padding:4rem 4rem 2.4rem}.author-box{padding:40px;padding:4rem}.author-box-title{color:#333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-size:1.6rem;margin-bottom:4px;margin-bottom:0.4rem}.author-box
a{border-bottom:1px solid #ddd}.author-box
p{margin-bottom:0}.author-box
.avatar{margin-right:24px;margin-right:2.4rem}.entry-title{font-size:40px;font-size:4rem;line-height:1.2}.entry-title a,
.sidebar .widget-title
a{color:#545454}.entry-title a:hover{color:#666}.widget-title{font-size:19px;font-size:1.9rem;margin-bottom:24px;margin-bottom:1rem;background:#6d81bf;color:#f5f5f5;padding:8px
10px;font-weight:100}.sidebar .widget-title
a{border:none}.archive-title{font-size:20px;font-size:2rem;margin-bottom:24px;margin-bottom:2.4rem}.featured-content
.entry{border-bottom:2px solid #f5f5f5;margin-bottom:20px;margin-bottom:2rem;padding:0
0 24px;padding:0
0 2.4rem}.featured-content .entry-title{border:none;font-size:24px;font-size:2.4rem;line-height:1.2}.featured-content .entry-title
a{border:none}.enews-widget{color:#999}.enews-widget .widget-title{color:#fff}.enews-widget
input{margin-bottom:16px;margin-bottom:1.6rem}.enews-widget input:focus{border:1px
solid #ddd}.enews-widget input[type="submit"]{background-color:#f15123;color:#fff;margin:0;width:100%}.enews-widget input:hover[type="submit"]{background-color:#fff;color:#333}.latest-tweets ul
li{margin-bottom:16px;margin-bottom:1.6rem}div.gform_wrapper input[type="email"],
div.gform_wrapper input[type="text"],
div.gform_wrapper textarea,
div.gform_wrapper .ginput_complex
label{font-size:16px;font-size:1.6rem;padding:16px;padding:1.6rem}div.gform_wrapper .ginput_complex
label{padding:0}div.gform_wrapper li,
div.gform_wrapper form
li{margin:16px
0 0;margin:1.6rem 0 0}div.gform_wrapper .gform_footer input[type="submit"]{font-size:14px;font-size:1.4rem}img#wpstats{display:none}.site-header{}.site-header
.wrap{padding:50px
0 10px 20px;padding:5rem 0 1rem 2rem}.title-area{float:left;font-weight:700;padding:16px
15px;padding:1.6rem 1.5rem;width:320px}.header-image .title-area{padding:0}.site-title{font-size:28px;font-size:2.8rem;line-height:1;margin:0
0 8px;margin:0
0 0.8rem;text-transform:uppercase}.site-title a,
.site-title a:hover{color:#333}.site-description{color:#999;font-size:16px;font-size:1.6rem;font-weight:300;line-height:1;margin-bottom:0}.header-full-width .title-area,
.header-full-width .site-title{width:auto}.header-image .site-description,
.header-image .site-title
a{display:block;text-indent:-9999px}.header-image .site-header
.wrap{padding:0}.header-image .site-title
a{float:left;min-height:170px;width:100%;background:url(http://pediatricmed.alliedphysiciansgroup.com/wp-content/uploads/2014/06/allied-physicians-group-logo.png) no-repeat left;background-size:240px}.widget-area{word-wrap:break-word}.site-header .widget-area{float:right;text-align:right;width:600px}.header-image .site-header .widget-area{padding:40px
0;padding:4rem 0}.site-header .search-form{float:right;margin-top:24px;margin-top:2.4rem}.genesis-nav-menu{clear:both;color:#999;line-height:0;width:100%;height:auto}.genesis-nav-menu .menu-item{display:inline-block;text-align:left}.genesis-nav-menu
a{color:#f5f5f5;display:block;padding:28px
0px 28px 0px;padding:2.8rem 0rem 2.8rem 0rem;margin:0px
15px 0px 15px;margin:0rem 1rem 0rem 1rem;position:relative;font-weight:300;font-size:19px;letter-spacing: .5px}.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item>a:hover{color:#6d81bf}.genesis-nav-menu .sub-menu .current-menu-item>a{color:#999}.genesis-nav-menu .sub-menu{left:-9999px;opacity:0;position:absolute;-webkit-transition:opacity 0.3s ease-in-out;-moz-transition:opacity 0.3s ease-in-out;-ms-transition:opacity 0.3s ease-in-out;-o-transition:opacity 0.3s ease-in-out;transition:opacity 0.3s ease-in-out;width:200px;z-index:99}.genesis-nav-menu .sub-menu
a{background-color:#fff;border:1px
solid #eee;border-top:none;font-size:14px;font-size:1.4rem;padding:16px
20px;padding:1.6rem 2rem;position:relative;width:200px}.genesis-nav-menu .sub-menu .sub-menu{margin:-54px 0 0 199px}.genesis-nav-menu .menu-item:hover{position:static}.genesis-nav-menu .menu-item:hover>.sub-menu{left:auto;opacity:1}.genesis-nav-menu>.first>a{padding-left:0}.genesis-nav-menu>.last>a{padding-right:0}.genesis-nav-menu>.right{display:inline-block;float:right;list-style-type:none;padding:28px
0;padding:2.8rem 0;text-transform:uppercase}.genesis-nav-menu>.right>a{display:inline;padding:0}.genesis-nav-menu>.rss>a{margin-left:48px;margin-left:4.8rem}.genesis-nav-menu>.search{padding:14px
0 0;padding:1.4rem 0 0}.nav-primary li:first-child
a{margin-left:0px;margin-left:0rem}.site-header .sub-menu{border-top:1px solid #eee}.site-header .sub-menu .sub-menu{margin-top:-55px}.nav-primary{padding-left:15px;padding-right:15px;background:#444}.nav-primary a:hover,
.nav-primary .current-menu-item>a{}.nav-primary .sub-menu a:hover{color:#333}.genesis-nav-menu .menu-item-1645
a{color:#6d81bf}.genesis-nav-menu .menu-item-1645 a:hover{color:#FFF}.nav-secondary{background-color:#fff;float:left}.entry{background-color:#fff;border-radius:3px;margin:0
0 40px 10px;margin:0
0 4rem 1rem}.page-id-171
.entry{margin:0
0 40px;margin:0
0 4rem}.entry-content
a{padding-bottom:2px;color:#6d81bf;border-bottom:1px dotted #666;transition:0}.entry-content a:hover{border-bottom:2px solid #666;padding-bottom:1px;color:#666}.entry-content .attachment a,
.entry-content .gallery
a{border:none}.entry-content ol,
.entry-content p,
.entry-content ul,.quote-caption{margin-bottom:26px;margin-bottom:2.6rem}.entry-content ol,
.entry-content
ul{margin-left:20px;margin-left:2rem}.entry-content ol
li{list-style-type:decimal}.entry-content ul
li{list-style-type:square}.entry-content ol ol,
.entry-content ul
ul{margin-bottom:0}.entry-content .search-form{width:50%}.entry-meta{color:#999;font-size:14px;font-size:1.4rem}.entry-meta
a{border-bottom:1px solid #ddd}.entry-header .entry-meta{margin-bottom:24px;margin-bottom:2.4rem}.entry-footer .entry-meta{border-top:2px solid #f5f5f5;margin:0
-40px;margin:0
-4rem;padding:32px
40px 8px;padding:3.2rem 4rem 0.8rem}.entry-comments-link::before{content:"\2014";margin:0
6px 0 2px;margin:0
0.6rem 0 0.2rem}.entry-categories,.entry-tags{display:block}@media only screen and (max-width: 1023px){.entry{margin:0
0 40px;margin:0
0 4rem}}.content--call-out{padding:30px
30px 10px;background:#ececec;margin:10px
0 20px}.content--call-out
strong{font-weight:500}.archive-pagination,.entry-pagination{font-size:14px;font-size:1.4rem;margin:40px
0;margin:4rem 0}.archive-pagination
li{display:inline}.archive-pagination li
a{background-color:#333;border-radius:3px;color:#fff;cursor:pointer;display:inline-block;padding:8px
12px;padding:0.8rem 1.2rem}.archive-pagination li a:hover,
.archive-pagination li.active
a{background-color:#f15123}.entry-pagination
a{border-bottom:1px solid #ddd}.comment-respond,.entry-comments,.entry-pings{background-color:#fff;margin-bottom:40px;margin-bottom:4rem}.entry-comments{padding:40px;padding:4rem}.comment-respond,.entry-pings{padding:40px
40px 16px;padding:4rem 4rem 1.6rem}.comment-respond a,
.entry-comments
a{border-bottom:1px solid #ddd}.comment-content{clear:both}.entry-comments .comment-author{margin-bottom:0}.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"]{width:50%}.comment-respond
label{display:block;margin-right:12px;margin-right:1.2rem}.comment-list li,
.ping-list
li{list-style-type:none}.comment-list
li{margin-top:24px;margin-top:2.4rem;padding:32px;padding:3.2rem}.comment-list li
li{margin-right:-32px;margin-right:-3.2rem}li.comment{background-color:#f5f5f5;border:2px
solid #fff;border-right:none}.comment
.avatar{margin:0
16px 24px 0;margin:0
1.6rem 2.4rem 0}.entry-pings
.reply{display:none}.bypostauthor{}.form-allowed-tags{background-color:#f5f5f5;font-size:14px;font-size:1.4rem;padding:24px;padding:2.4rem}.sidebar{color:#999}.sidebar
a{color:#444;display:block;padding:5px
10px}.sidebar a:hover{color:#f5f5f5}.sidebar
.current_page_item{background:#a7a7a7}.sidebar .current_page_item
a{color:#f5f5f5}.sidebar p:last-child{margin-bottom:0}.sidebar
li{list-style-type:none;margin-bottom:11px;margin-bottom: .6rem;word-wrap:break-word;font-weight:400;color:#545454;transition:1s;background:#ececec}.sidebar li:hover{background:#a7a7a7}.sidebar ul>li:last-child{margin-bottom:0}.sidebar
.widget{border-radius:3px;padding:20px
0;padding:2rem 0}.sidebar .widget:nth-child(1){padding-top: .6rem}.sidebar .enews-widget{background-color:#333}.footer-widgets{background-color:#333;color:#999;clear:both;padding:40px
0 16px;padding:4rem 0 1.6rem}.footer-widgets-1,.footer-widgets-3{width:350px}.footer-widgets-2{width:360px}.footer-widgets-1{margin-right:40px;margin-right:4rem}.footer-widgets-1,.footer-widgets-2{float:left}.footer-widgets-3{float:right}.footer-widgets
a{border-bottom:1px solid #666;color:#999}.footer-widgets a:hover{color:#ddd}.footer-widgets
.widget{margin-bottom:24px;margin-bottom:2.4rem}.footer-widgets .widget-title{color:#fff}.footer-widgets
li{list-style-type:none;margin-bottom:6px;margin-bottom:0.6rem;word-wrap:break-word}.footer-widgets .search-form input:focus{border:1px
solid #ddd}.site-footer{background-color:#fff;color:#999;font-size:14px;font-size:1.4rem;padding:40px
0;padding:4rem 0;text-align:center}.site-footer
a{border-bottom:1px solid #ddd}.site-footer
p{margin-bottom:0}@media only screen and (max-width: 1270px){.sidebar-secondary{width:210px}}@media only screen and (max-width: 1250px){.sidebar-content-sidebar
.content{width:600px}.sidebar-content-sidebar .content-sidebar-wrap{width:940px}.sidebar-secondary{width:230px}}@media only screen and (max-width: 1200px){.sidebar-content-sidebar .content-sidebar-wrap{width:900px}}@media only screen and (max-width: 1175px){.sidebar-content-sidebar .content-sidebar-wrap{width:870px}.sidebar-content-sidebar
.content{width:560px}}@media only screen and (max-width: 1139px){.site-inner,.wrap{max-width:960px}.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap{width:740px}.content,
.site-header .widget-area{width:500px}.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content,
.content-sidebar-sidebar
.content{width:400px}.footer-widgets-1,.footer-widgets-2,.footer-widgets-3,.sidebar-primary,.title-area{width:300px}.genesis-nav-menu
a{margin:0rem 7px 0rem 7px;margin:0rem .7rem 0rem .7rem;font-size:17px}.sidebar-primary{width:250px}.sidebar-content-sidebar
.content{width:470px}.sidebar-secondary{float:left;width:200px}}@media only screen and (max-width: 1023px){body{background-color:#fff}.content,
.content-sidebar-sidebar .content,
.content-sidebar-sidebar .content-sidebar-wrap,
.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3,
.sidebar-content-sidebar .content,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-primary,
.sidebar-secondary,
.sidebar-sidebar-content .content,
.sidebar-sidebar-content .content-sidebar-wrap,.site-inner,.wrap{width:100%}.site-header
.wrap{padding:20px
0;padding:2rem 0}.site-inner{padding-left:5%;padding-right:5%}.archive-description,
.author-box,
.comment-respond,
.entry,
.entry-comments,
.entry-footer .entry-meta,
.sidebar .widget,.site-header{padding:0}.sidebar
.widget{padding-top:3rem;padding-top:30px;margin:0
-10px;margin:0
-1rem}.genesis-nav-menu li,
.site-header ul.genesis-nav-menu,
.site-header .search-form{float:none}.genesis-nav-menu,
.site-description,
.site-header .title-area,
.site-header .search-form,.site-title{text-align:center}.genesis-nav-menu a,.genesis-nav-menu>.first>a,.genesis-nav-menu>.last>a{padding:28px
0px;padding:2.8rem 0rem}.site-header .search-form{margin:16px
auto;margin:1.6rem auto}.genesis-nav-menu
li.right{display:none}.entry-footer .entry-meta{margin:0;padding-top:12px;padding-top:1.2rem}.sidebar .widget.enews-widget{padding:40px;padding:4rem}.site-footer{padding:24px
0;padding:2.4rem 0}.footer-widgets{padding:40px
5% 16px}.footer-widgets-1{margin:0}}@media only screen and (max-width: 1023px){.sidebar-secondary{margin-bottom:70px}.sidebar .widget:nth-child(1){padding-top:40px}}@media only screen and (max-width: 992px){.header-image .site-header
.wrap{background-position:center 7%}.header-image .site-header
.wrap{background-size:250px}.header-image .site-title
a{min-height:233px;background:url(http://pediatricmed.alliedphysiciansgroup.com/wp-content/uploads/2014/06/allied-physicians-group-logo.png) no-repeat center;background-size:300px}.site-header .widget-area,.title-area,.wrap{width:100%}.wrap{max-width:100%}}@media only screen and (max-width: 767px){.five-sixths,.four-sixths,.one-fourth,.one-half,.one-sixth,.one-third,.three-fourths,.three-sixths,.two-fourths,.two-sixths,.two-thirds{margin:0;width:100%}}.container-fluid-mobile{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media only screen and (min-width: 1300px){.site-inner,.wrap{max-width:1300px}}@media only screen and (min-width: 1200px){.site-inner,.wrap{max-width:1190px}.site-header
.wrap{max-width:1190px}.content{width:790px}}@media only screen and (min-width: 1330px){.site-header
.wrap{max-width:1190px}}@media only screen and (max-width: 1235px){.header-image .site-header
.wrap{padding:0
15px;max-width:100%}.genesis-nav-menu{text-align:left}.nav-primary
.wrap{max-width:100%}.site-inner{padding:0
15px;max-width:100%}.breadcrumb{padding:0
15px;max-width:100%}}@media only screen and (max-width: 1139px){.header-image .site-header
.wrap{padding:0;max-width:960px}.nav-primary
.wrap{max-width:960px}.site-inner,.wrap{max-width:960px;padding:0}.breadcrumb{padding:0}}@media only screen and (max-width: 1023px){.container-fluid-mobile{padding-right:25px;padding-left:25px;margin-right:auto;margin-left:auto}.entry{margin-bottom:0}.sidebar
.widget_nav_menu{padding:0
10px}}@media only screen and (max-width: 992px){.header-image .site-header
.wrap{padding:0;max-width:100%}.header-image .site-header .widget-area{padding:0}.site-inner,.wrap{max-width:100%;padding:0
30px}.sidebar
.widget_nav_menu{padding:0
10px}}@media only screen and (max-width: 500px){.header-image .site-title
a{min-height:233px;background:url(http://pediatricmed.alliedphysiciansgroup.com/wp-content/uploads/2014/06/allied-physicians-group-logo.png) no-repeat center;background-size:250px}.site-inner,.wrap{max-width:100%;padding:0
5%}}.apg-orange{background:#6d81bf}.apg-orange:hover{background:#8899cb}.apg-gray{background:#8a8a8a}.apg-gray:hover{background:#767676}.apg-pink{background:#f27e9a}.apg-pink:hover{background:#ee5a7e}.apg-blue{background:#6d81bf}.apg-blue:hover{background:#66a3c9}.apg-green{background:#9ece84}.apg-green:hover{background:#88c368}.btm-left-notch{position:absolute;bottom:0;left:0;width:0;height:0;border-style:solid;border-width:60px 0 0 60px;border-color:transparent transparent transparent #fff;line-height:0px;_border-color:#000 #000000 #000 #ffffff;_filter:progid:DXImageTransform.Microsoft.Chroma(color='#000000')}.border-top-halo-gray{background:gray;height:8px;margin-bottom:10px}.border-top-halo-orange{background:#6d81bf;height:8px;margin-bottom:10px}.border-top-halo-facebook-blue{background:#4c66a4;height:8px;margin-bottom:10px}.clearfix{clear:both}.link-fade{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}.btn{padding:5px
23px;background:#545454;color:#f5f5f5;display:inline-block;font-size:19px;font-weight:400;border-radius:2px}.btn:hover{background:#000}.fa-facebook:hover{color:#4c66a4}.fa-twitter:hover{color:#55acee}.fa-youtube-square:hover{color:#e52d27}.home-after-loop-blog-puddles{background-color:#ececec;clear:both;overflow:hidden;padding:90px
0;padding:9rem 0}.home-after-loop-blog-puddles
.widget{float:none;max-width:1302px;margin:0
auto;padding:0px
30px;padding:0rem 3rem}.home-after-loop-blog-puddles .featured-content .entry-title{border:none;font-size:30px;font-size:3rem;line-height:1;border-top:3px solid #6d81bf}.home-after-loop-blog-puddles .featured-content .entry-title
a{font-size:21px;font-size:2.1rem;background:#6d81bf;color:#f5f5f5;padding:7px;font-weight:300}.home-after-loop-blog-puddles .entry-time{background:#f3784a;padding:7px;padding-top:13px;font-size:16px;font-size:1.6rem;color:#f5f5f5}.home-after-loop-blog-puddles .featured-content
.entry{border-bottom:0px solid #F5F5F5;margin-bottom:0rem;width:25%;float:left;padding:0
1%;background:none}.home-after-loop-blog-puddles .entry-content
p{font-size:18px;margin-bottom:0}.home-after-loop-blog-puddles .widget-title{font-size:1.6rem;text-transform:uppercase;text-align:right}.home-after-loop-blog-puddles a
img{margin-right:8px;margin-right:0.8rem}@media only screen and (max-width: 1139px){.home-after-loop-blog-puddles .featured-content
.entry{width:50%}}@media only screen and (max-width: 767px){.home-after-loop-blog-puddles .featured-content
.entry{width:100%;margin-bottom:50px;margin-bottom:5rem}}nav{position:relative}.fixed{position:fixed;top:0;height:auto;z-index:3;background:#6d81bf;width:100%;-webkit-transition:0.3s ease-in-out;-moz-transition:0.3s ease-in-out;-ms-transition:0.3s ease-in-out;-o-transition:0.3s ease-in-out;transition:0.3s ease-in-out}.fixed .genesis-nav-menu
a{color:#f5f5f5;border-bottom:none;padding:2rem 1.5rem;margin:0rem}.header-connect-area{padding-top:9px}.hca-top{padding-bottom:10px}.header-connect-icon{float:right;font-size:27px;margin-left:10px;position:relative}.hci-phone .btm-left-notch{display:none}.hci-twitter
a{color:#6d81bf}.hci-facebook
a{color:#6d81bf}.hci-youtube
a{color:#6d81bf}@media only screen and (max-width: 992px){.header-connect-icon{float:none;margin:0}.hci-facebook{display:none}.hci-twitter{display:none}.hci-youtube{display:none}.hci-phone{width:100%;text-align:left;height:50px;background:#8a8a8a;padding-top:8px;padding-left:60px;font-size:21px;background:url('/wp-content/uploads/2014/07/call-icon.png') #a4b0d7 no-repeat;background-position:center left;background-size:50px;position:relative}.hci-phone:hover{background:#767676;background:url('/wp-content/uploads/2014/07/call-icon.png') #44599a no-repeat;background-position:center left;background-size:50px}.hci-phone
a{color:#f5f5f5}.hci-phone .btm-left-notch{border-width:13px 0 0 13px;display:block}.hca-top{padding:0}}.header-btn{position:relative;float:right;height:35px;width:200px;font-size:16px;line-height:normal;text-transform:uppercase;text-align:left;margin-left:20px;padding-top:8px;padding-left:45px;color:#f5f5f5}.header-btn .btm-left-notch{border-width:10px 0 0 10px;display:none}.hb-apg-gray{background:url('/wp-content/uploads/2015/01/header-btn-get-in-touch-gray.jpg') #949494 no-repeat;background-position:center left;background-size:35px}.hb-apg-gray:hover{background:url('/wp-content/uploads/2015/01/header-btn-get-in-touch-gray.jpg') #808080 no-repeat;background-position:center left;background-size:35px}.hb-apg-blue{background:url('/wp-content/uploads/2014/12/header-btn-find-a-practice-blue.jpg') #6d81bf no-repeat;background-position:center left;background-size:35px}.hb-apg-blue:hover{background:url('/wp-content/uploads/2014/12/header-btn-find-a-practice-blue.jpg') #8899cb no-repeat;background-position:center left;background-size:35px}@media only screen and (max-width: 992px){.header-btn .btm-left-notch{border-width:14px 0 0 14px;display:block}.hb-apg-gray{background:url('/wp-content/uploads/2014/12/header-btn-get-in-touch.jpg') #f26a37 no-repeat;background-position:center left;background-size:35px}.hb-apg-gray:hover{background:url('/wp-content/uploads/2014/12/header-btn-get-in-touch.jpg') #44599a no-repeat;background-position:center left;background-size:35px}.header-btn{height:50px;width:100%;padding-top:13px;padding-left:60px;font-size:21px}.hb-apg-gray{background:url('/wp-content/uploads/2014/12/header-btn-get-in-touch.jpg') #8899cb no-repeat;background-position:center left;background-size:50px}.hb-apg-gray:hover{background:url('/wp-content/uploads/2014/12/header-btn-get-in-touch.jpg') #44599a no-repeat;background-position:center left;background-size:50px}.hb-apg-orange{background:url('/wp-content/uploads/2014/12/header-btn-find-a-practice-blue.jpg') #a0c6dd no-repeat;background-position:center left;background-size:50px}.hb-apg-orange:hover{background-size:50px}.hb-apg-blue{background:url('/wp-content/uploads/2014/12/header-btn-find-a-practice-blue.jpg') #6d81bf no-repeat;background-position:center left;background-size:50px}.hb-apg-blue:hover{background:url('/wp-content/uploads/2014/12/header-btn-find-a-practice-blue.jpg') #44599a no-repeat;background-position:center left;background-size:50px}}.primary-callout-wrap{margin-top:60px;margin-bottom:50px}.primary-callout{height:120px;width:100%;color:#f5f5f5;background:#ececec;font-size:25px;padding-top:27px;padding-left:150px;line-height:normal;text-transform:capitalize;text-align:left}.primary-callout-wrap .btm-left-notch{border-width:40px 0 0 40px}.pc-find-a-practice{background:url('/wp-content/uploads/2015/02/pediatrician-find-a-practice-allied-pediatric-medicine.jpg') #6d81bf no-repeat;background-position:center left;background-size:120px}.pc-find-a-practice:hover{background:url('/wp-content/uploads/2015/02/pediatrician-find-a-practice-allied-pediatric-medicine.jpg') #8899cb no-repeat;background-position:center left;background-size:120px}.pc-new-families{background:url('/wp-content/uploads/2015/02/new-mom-and-dad-allied-pediatric-medicine.jpg') #6d81bf no-repeat;background-position:center left;background-size:120px}.pc-new-families:hover{background:url('/wp-content/uploads/2015/02/new-mom-and-dad-allied-pediatric-medicine.jpg') #8899cb no-repeat;background-position:center left;background-size:120px}.pc-patient-resources{background:url('/wp-content/uploads/2015/02/patient-resources-forms-allied-pediatric-medicine.jpg') #6d81bf no-repeat;background-position:center left;background-size:120px}.pc-patient-resources:hover{background:url('/wp-content/uploads/2015/02/patient-resources-forms-allied-pediatric-medicine.jpg') #8899cb no-repeat;background-position:center left;background-size:120px}.primary-callout:after{clear:both}.primary-callout
img{float:left;height:120px}.pc-border-top{background:gray;height:8px}@media only screen and (max-width: 1200px){.primary-callout{font-size:22px;padding-top:33px;padding-left:142px}}@media only screen and (max-width: 1024px){.primary-callout{font-size:18px;padding-top:30px;padding-left:135px;height:100px}}@media only screen and (max-width: 992px){.primary-callout{font-size:26px;padding-top:35px;padding-left:150px;height:100px;margin-bottom:10px}.primary-callout
br{display:none}}@media only screen and (max-width: 650px){.primary-callout{font-size:23px;padding-top:23px;padding-left:145px;height:100px}.primary-callout
br{display:block}}@media only screen and (max-width: 500px){.primary-callout{font-size:22px;padding-top:25px;padding-left:145px;height:100px;margin-bottom:15px}}@media only screen and (max-width: 400px){.primary-callout{font-size:18px;padding-top:24px;padding-left:110px;height:90px;margin-bottom:15px}.pc-find-a-practice{background-size:90px}.pc-find-a-practice:hover{background-size:90px}.pc-new-families{background-size:90px}.pc-new-families:hover{background-size:90px}.pc-patient-resources{background-size:90px}.pc-apg--patient-resources:hover{background-size:90px}}.secondary-callout-wrap{margin-top:20px}.secondary-callout{color:#545454;padding-left:15px;padding-right:15px;padding-bottom:30px}.secondary-callout
img{padding-bottom:10px;width:100%}.secondary-callout
h3{font-weight:300;font-size:30px;margin-bottom:10px;margin-bottom:1rem}@media only screen and (max-width: 992px){.secondary-callout{padding-left:0px;padding-right:0px;margin-bottom:50px}}.member-callout{color:#f5f5f5;padding:15px;padding-top:20px;padding-bottom:40px;position:relative;background:#444;border-top:8px solid #6d81bf}.member-callout .btm-left-notch{border-width:30px 0 0 30px}.member-callout
h3{color:#f5f5f5;font-weight:300}.member-callout
p{color:#f5f5f5}.member-callout ul
li{list-style-type:none;font-size:19px;font-size:1.9rem;margin-left:0;padding-left:30px;text-indent:-30px}.member-callout ul li:before{font-family:'fontawesome';content:'\f00c';padding-right:10px}.member-callout
.btn{padding:5px
23px;background:#6d81bf;color:#f5f5f5;display:inline-block;font-size:19px;font-size:1.9rem;font-weight:400;margin-left:40px;border-radius:1px}.member-callout .btn-left{padding:5px
23px;background:#6d81bf;color:#f5f5f5;display:inline-block;font-size:19px;font-size:1.9rem;font-weight:400;margin-left:0;border-radius:1px}.member-callout .btn:hover,
.member-callout .btn-left:hover,{background:#f5f5f5;color:#545454}.member-callout
a{border-bottom:none;color:white;position:relative;padding:0}.member-callout a:hover{border-bottom:none}.home-side-button{width:100%;text-align:left;margin-bottom:10px;position:relative;background:#6d81bf;color:#f5f5f5}.home-side-button:hover{background:#8899cb}.home-side-button
span{padding:4px
10px;display:block;text-transform:none;font-weight:200;font-size:21px}.home-side-button span:before{font-family:'fontawesome';content:'\f054';padding-right:10px}@media only screen and (max-width: 400px){.member-callout ul
li{font-size:16px;font-size:1.6rem}}.sidebar-primary-callout-wrap{background:#ececec;padding-bottom:10px}.sidebar-primary-callout-wrap
h4{font-size:27px;font-size:2.7rem;margin-bottom:20px;text-align:left;padding-top:15px}.sidebar-primary-callout-wrap .primary-callout{height:80px;font-size:20px;margin-bottom:10px;padding-left:100px;padding-top:18px}.sidebar-primary-callout-wrap .btm-left-notch{border-width:40px 0 0 40px;border-color:transparent transparent transparent #ececec}.sidebar-primary-callout-wrap .pc-apg-green{background:url('/wp-content/uploads/2014/07/specialty-obstetrics-gynecology.png') #9ece84 no-repeat;background-position:center left;background-size:80px}.sidebar-primary .pc-apg-green:hover{background:url('/wp-content/uploads/2014/07/specialty-obstetrics-gynecology.png') #88c368 no-repeat;background-position:center left;background-size:80px}.sidebar-primary-callout-wrap .pc-apg-pink{background:url('/wp-content/uploads/2014/07/specialty-pediatric-medicine.png') #f27e9a no-repeat;background-position:center left;background-size:80px}.sidebar-primary .pc-apg-pink:hover{background:url('/wp-content/uploads/2014/07/specialty-pediatric-medicine.png') #ee5a7e no-repeat;background-position:center left;background-size:80px}.sidebar-primary-callout-wrap .pc-apg-blue{background:url('/wp-content/uploads/2014/07/specialty-adult-medicine.png') #6d81bf no-repeat;background-position:center left;background-size:80px}.sidebar-primary .pc-apg-blue:hover{background:url('/wp-content/uploads/2014/07/specialty-adult-medicine.png') #66a3c9 no-repeat;background-position:center left;background-size:80px}#text-7{display:block;padding-bottom:60px;padding-bottom:6rem}@media only screen and (max-width: 1023px){#text-7,
.page-id-171 #text-10{display:none}}.sub-menu-toggle,.menu-toggle{display:none;visibility:hidden}@media only screen and (min-width: 993px){nav{display:block !important}}@media only screen and (max-width: 992px){.menu-toggle,.sub-menu-toggle{width:100%;height:50px;display:block;font-size:21px;font-weight:200;margin:0
auto;overflow:hidden;padding:5px;padding-left:60px;text-align:left;visibility:visible;background:url('/wp-content/uploads/2015/01/menu-icon-gray.png') #444 no-repeat;background-position:center left;background-size:50px;position:relative}.menu-toggle .btm-left-notch{border-width:14px 0 0 14px}.menu-toggle:hover{background:url('/wp-content/uploads/2015/01/menu-icon-gray.png') #444 no-repeat;background-position:center left;background-size:50px}.menu-toggle.activated .btm-left-notch{border-width:14px 0 0 14px;border-color:transparent transparent transparent #444}.nav-primary{display:none;position:relative}.genesis-nav-menu{color:#f5f5f5;width:100%}.nav-primary
.wrap{width:100%;max-width:100%}button.menu-toggle,button.sub-menu-toggle{color:#fff}.genesis-nav-menu button.menu-toggle,button.sub-menu-toggle{color:#e74c3c}.sub-menu-toggle{padding:0;position:absolute;right:0;top:0;padding-left:30px;padding-right:10px}.menu-toggle:before{content:""}.menu-toggle.activated:before{}.sub-menu-toggle:before{content:"+"}.sub-menu-toggle.activated:before{content:"-"}.genesis-nav-menu .menu-item{display:block;position:relative;text-align:left;border-bottom:none}.genesis-nav-menu .menu-item:hover{position:relative}.genesis-nav-menu .sub-menu{clear:both;display:none;opacity:1;position:static;width:100%}.genesis-nav-menu .sub-menu
a{border-left:0;position:relative;width:auto;margin:0;background:#545454}.genesis-nav-menu .sub-menu a:hover{background:#545454;color:white}.genesis-nav-menu .sub-menu .sub-menu{margin:0}.genesis-nav-menu .sub-menu .sub-menu
a{padding-left:30px}.genesis-nav-menu .sub-menu .sub-menu .sub-menu
a{padding-left:40px}.nav-primary a:hover, .nav-primary .current-menu-item>a{color:silver}.genesis-nav-menu a,.genesis-nav-menu>.first>a,.genesis-nav-menu>.last>a{padding:23px
32px;padding:2.3rem 3.2rem}.nav-primary{width:100%%}.nav-primary li:first-child
a{margin:0rem .7rem 0rem .7rem}.genesis-nav-menu
a{font-size:19px;color:#f5f5f5}.genesis-nav-menu a:hover{color:silver}.sub-menu .menu-item{border-bottom:none}}.custom-footer{color:#f5f5f5;background:#444;font-weight:300;font-size:19px;padding-bottom:60px}.custom-footer
h4{color:#f5f5f5;font-weight:300;font-size:30px;line-height:normal;margin:30px
0;margin:3rem 0}.list-split li:nth-child(odd){margin-right:3%}.list-split
li{width:47%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;float:left;list-style:none;margin-left:0}.list-links li
a{color:#f5f5f5}.list-links li a:hover{color:#6d81bf}.list-links li:before{color:#f5f5f5;content:'\f054';display:inline-block;font-family:FontAwesome;padding-right:10px}.footer-card{font-size:17px}.footer-social-icons-wrap{font-size:30px}.footer-social-icons-wrap
.fa{padding-right:5px}.footer-social-icons-wrap
h4{margin-bottom:1.5rem}.footer-social-icons-wrap
a{color:#fff}.footer-social-icons-wrap .fa-facebook:hover{color:#4c66a4}.footer-social-icons-wrap .fa-twitter:hover{color:#55acee}.footer-card
p{float:left;padding-left:20px}.footer-card:after{clear:both}@media only screen and (max-width: 992px){.footer-card
p{padding:0px}}@media only screen and (max-width: 420px){.list-split
li{width:100%}}.footer-accreds{margin-top:20px;font-size:14px}.footer-accreds
a{color:#f5f5f5;border-bottom:1px dotted #f5f5f5}.footer-accreds a:hover{color:#6d81bf}#find-practice-nav{text-align:center;padding-top:45px;padding-bottom:30px;width:100%;margin:0
auto}#find-practice-nav .btm-left-notch{border-width:40px 0 0 40px}.fp-nav{display:block;height:150px;color:#f5f5f5;line-height:normal;border-radius:1px;padding-top:25px;font-size:28px;border-top:gray 7px solid;background:silver}.fp-nav:hover{background:#636363}.fp-nav-peds{border-top:#6d81bf 7px solid;background:#bcd7e7}.fp-nav-peds:hover{background:#66a3c9}.fp-nav-peds-reverse{background:#66a3c9}.fp-nav-peds-reverse:hover{background:#bcd7e7}.fp-nav-obgyn{border-top:#f27e9a 7px solid;background:#f6a2b6}.fp-nav-obgyn:hover{background:#ee5a7c}.fp-nav-obgyn-reverse{background:#ee5a7c}.fp-nav-obgyn-reverse:hover{background:#f6a2b6}.fp-nav-adultmed{border-top:#9ece84 7px solid;background:#bfdfae}.fp-nav-adultmed:hover{background:#88c368}.fp-nav-adultmed-reverse{background:#88c368}.fp-nav-adultmed-reverse:hover{background:#bfdfae}.home-before-content{background:#cfcfcf}@media only screen and (max-width: 991px){#find-practice-nav .col-md-4{padding:0px}.fp-nav{height:160px;padding-top:55px;font-size:25px;margin-bottom:10px}.fp-nav
br{display:none}}@media only screen and (max-width: 400px){.fp-nav{font-size:19px;height:160px;padding-top:55px}.home-before-content{display:none}}.fap-peds{border-top:#6d81bf 7px solid}.fap-adultmed{border-top:#9ece84 7px solid}.fap-obgyn{border-top:#f27e9a 7px solid}.fap-physician-callout{padding-top:10px}.white-popup
ul{margin:0
0 15px;margin:0
0 1.5rem;list-style-position:inside}.white-popup
p{margin:0
0 15px;margin:0
0 1.5rem}.white-popup ul
li{margin-left:0;padding-left:30px;text-indent:-16px}.fap-physician-callout
img{width:113px}.fap-physician-callout
strong{font-weight:500}.fap-physician-callout:after{clear:both}.fap-pc-img{float:left}.fap-pc-desc{float:left;padding-left:15px;width:70%}.entry-content .fap-pc-desc
p{margin-bottom:0}.fap-pc-desc
h6{margin-bottom:10px;font-size:25px}@media only screen and (max-width : 1180px){.fap-pc-desc{float:left;padding-left:0;margin-bottom:20px;width:100%}}@media only screen and (max-width: 1139px){.fap-pc-desc
h6{margin-bottom:5px;font-size:20px}.fap-pc-desc
h6{margin-bottom:5px;font-size:20px}}@media only screen and (max-width: 1023px){.fap-pc-desc{width:60%;margin-bottom:0;padding-left:15px}}@media only screen and (max-width: 800px){.fap-pc-desc{width:55%}}@media only screen and (max-width: 650px){.fap-pc-desc{width:60%;font-size:15px;line-height:normal}.fap-pc-desc
h6{font-size:16px}}@media only screen and (max-width: 600px){.fap-pc-desc{width:55%}}@media only screen and (max-width: 400px){.fap-pc-desc{width:60%;font-size:15px;line-height:normal;padding-left:5px}.fap-physician-callout{margin-top:10px}.fap-physician-callout
img{width:80px}.fap-pc-desc
h6{font-size:16px}}.intro-p{padding:10px
0;font-size:24px;font-size:2.4rem}.intro-h2{margin:30px
0;margin:3rem 0;font-weight:300}.intro-img{margin-top:30px;margin-top:3rem}.closing-p{padding-top:10px;padding-bottom:20px;font-size:22px;font-size:2.2rem;font-style:italic}@media only screen and (max-width: 400px){.intro-p{padding-top:20px;font-size:19px;font-size:1.9rem}.closing-p{font-size:19px;font-size:1.9rem}}.island{padding:20px
20px 30px 20px;padding:2rem 2rem 3rem 2rem;margin-bottom:36px;margin-bottom:3.6rem;color:#333}.island
p{margin-bottom:15px;margin-bottom:1.5rem}.island
h2{margin:1.5rem 0rem 2.5rem 0}.island-orange{border-top:#6d81bf solid 7px;background:#fde6dd;color:#333}.island-orange
h2{color:#6d81bf}.island-orange
h3{color:#6d81bf}.island-green{border-top:#88c368 solid 7px;background:#ecf5e6}.island-green
h2{color:#88c368}.island-green
h3{color:#88c368}.island-pink{border-top:#f27e9a solid 7px;background:#fde9ee}.island-pink
h2{color:#f27e9a}.island-pink
h3{color:#f27e9a}.island-blue{border-top:#6d81bf solid 7px;background:#d9e8f2}.island-blue
h2{color:#74acce}.island-blue
h3{color:#74acce}.island-gray{border-top:#6d81bf solid 7px;background:#444;color:#f5f5f5}.island-gray
.btn{background:#6d81bf;margin-top:1.5rem}.island-gray .btn:hover{background:#8899cb}.island-gray-header{color:#f5f5f5;font-size:27px;font-size:2.7rem;margin-top:1rem;margin-bottom:2rem}.island-gray
p{font-size:19px}.island-white{background:none;border:1px
solid #c3c3c3;border-top-width:5px}.island-white
h2{color:#666}.island
h3{font-size:30px;font-size:3rem;margin:1rem 0 4rem 0;margin:10px
0px 40px 0px}.island
h4{font-size:23px;font-size:2.3rem}.island ul
li{list-style-type:none;margin-left:0;padding-left:30px;text-indent:-17px}.island ul li:before{font-family:'fontawesome';content:'\f054';padding-right:10px;color:#f3784a;font-size:15px}.island .island-bottom{font-style:italic;font-size:27px;font-size:2.7rem;font-weight:300;padding:10px
0;padding:1rem 0;margin-bottom:10px;margin-bottom:1rem}.specialty-threshold-wrap{margin-top:50px;margin-top:5rem}.specialty-threshold{width:100%;padding:30px;padding:3rem;margin-bottom:15px;margin-bottom:1.5rem}.specialty-threshold:hover{background:#545454}.specialty-threshold
h2{color:#f5f5f5;font-weight:300;text-align:center;margin-bottom:0}.specialty-threshold-green{background:#88c368}.specialty-threshold-pink{background:#f27e9a}.specialty-threshold-blue{background:#6d81bf}.join-now-form-wrapper{width:100%;margin:0
auto;padding:10px
30px}.join-now-form-wrapper
.row{margin-left:0px;margin-right:0px;width:100%}.join-now-form-wrapper
p{margin-bottom:10px}.join-now-form-wrapper
h2{font-weight:300;font-size:25px;font-size:2.5rem;margin-bottom:13px}.join-now-form-wrapper
textarea{width:100%;height:250px}.join-now-form-wrapper input,select,textarea{background-color:#fff;border:1px
solid #999;box-shadow:1px 1px 3px #eee inset;border-radius:0px;color:#6d81bf;font-size:20px;font-size:2rem;padding:7px;padding: .7rem;width:100%;font-weight:400}@media only screen and (max-width : 768px){.join-now-form-wrapper{padding:10px
2px}.join-now-form-wrapper
textarea{width:100%}.join-now-form-wrapper
button{width:75%}.island-white{padding:20px
10px 30px 10px;padding:2rem 1rem 3rem 1rem}}.btn-join-now-form{padding:15px
60px;background:#666;color:#f5f5f5;display:inline-block;font-size:20px;font-weight:300}.btn-join-now-form:hover{background:#6d81bf}.footer-card
a{color:#f5f5f5}.footer-card a:hover{color:#6d81bf}.search-instructions{width:100%;padding:5px;border:#ececec 3px solid;color:gray;margin-top:25px}.search-instructions
p{padding:5px;margin:0}.show-mobile-sub-nav-btn{display:none}@media only screen and (max-width : 992px){.show-mobile-sub-nav-btn{display:block;background:#ececec;padding:10px
0;font-size:20px;text-align:center;margin:25px
0;transition:1s}.show-mobile-sub-nav-btn:hover{background:#66a3c9;color:#f5f5f5}.show-mobile-sub-nav-btn-wrap
a{padding-bottom:2px;color:#66a3c9;border-bottom:1px dotted #666}#nav_menu-2{padding-bottom:3rem;padding-bottom:30px}#nav_menu-2 .widget-title{margin-bottom:7px;margin-bottom: .7rem;background:#6d81bf;color:#f5f5f5;font-weight:400;padding:15px
0 15px 10px;font-size:23px}}.sidebar .member-callout{padding-bottom:15px}.sidebar .member-callout
h3{font-size:27px}.sidebar .member-callout
p{font-size:17px}.sidebar .home-side-button
span{padding:5px
10px;font-size:17px}.sidebar .home-side-button{margin-bottom:7px}.hospital-list
h2{font-size:20px;font-size:2rem;margin-bottom:5px}.menu-symptom-checker,.menu-dosage-checker{margin:25px
0;padding:10px
10px 24px 10px;background:#444}.menu-symptom-checker .widget-title,
.menu-dosage-checker .widget-title{background:none;color:#f5f5f5;font-size:23px;padding-left:4px;font-weight:300}.disclaimer-symptom-checker,.disclaimer-dosage-checker{background:#eaeaea;padding:15px;margin:0
auto;color:gray;font-size:13px;margin-top:40px}.disclaimer-symptom-checker p,
.disclaimer-dosage-checker
p{margin-bottom:10px}.disclaimer-symptom-checker p:last-child,
.disclaimer-dosage-checker p:last-child{margin-bottom:0}.when-to-call-puddle{background:#ececec;border-top:gray solid 7px;padding:15px;margin-bottom:40px;margin-top:50px}.when-to-call-wrap{width:100%}.when-to-call-wrap
a{color:#f5f5f5;border:0;display:block;padding:0}.when-to-call-wrap a:hover{border:0;padding:0;color:#f5f5f5}.mfp-content
h3{font-size:24px;font-weight:400;line-height:1.4}.btn-when-to-call{width:100%;padding:10px
15px;border-radius:3px;font-size:19px;margin-bottom:5px;background:#6d81bf}.btn-when-to-call:hover{background:#8899cb}.btn-when-to-call
span{text-transform:uppercase;font-size:12px}.btn-call-911{}.btn-call-24{}.btn-no-call{}.symptom-checker-wrap,.dosage-checker-wrap{font-size:17px}.symptom-checker-wrap
h2{font-size:28px;font-weight:300;margin-bottom:20px}.symptom-checker-wrap
h3{font-size:19px;font-weight:400;margin-bottom:10px}.symptom-checker-wrap
ul{margin-left:15px}.symptom-checker-wrap ul
li{list-style-type:square;list-style-position:inside;margin-left:0;padding-left:20px;text-indent:-17px}.symptom-checker-wrap
ol{padding:10px
0;margin-bottom:0}.symptom-checker-wrap ol
li{list-style-type:decimal;list-style-position:inside;margin-left:0;padding-left:40px;text-indent:-17px}.related-symptoms{background:#ececec;border-top:#6d81bf solid 7px;padding:15px
10px 10px 10px;margin-bottom:26px;font-size:17px}.related-symptoms
h2{font-size:20px;margin-bottom:10px}.related-symptoms
ul{margin-bottom:10px}.faq-h3{font-size:20px;margin:0
0 10px}.faq-h3{font-size:20px;margin:0
0 10px}#map_wrapper{height:283px;width:283px;color:#555 }#map_canvas{width:100%;height:100%}#map_canvas
a{color:#f15c25 }#large_map_wrapper{height:350px;width:100%;color:#555;margin-bottom:25px}#large_map_canvas{width:100%;height:100%}#large_map_canvas
a{color:#f15c25;border-bottom:1px dotted #666;padding-bottom:1px}#large_map_canvas a:hover{border-bottom:1px dotted #f15c25 }.map-screenshot:hover{opacity:.9}#wpcf7-f695-p195-o1{margin-bottom:100px}.wpcf7 input,select,textarea{background-color:#fff;border:1px
solid #999;box-shadow:1px 1px 3px #eee inset;border-radius:0px;color:#ea5b31;font-size:21px;font-size:2.1rem;padding:7px;padding: .7rem;width:100%;font-weight:400}.wpcf7
h3{font-size:18px;margin:0
0 16px;margin:0
0 1.6rem}.wpcf7 button, .wpcf7 input[type="button"], .wpcf7 input[type="reset"], .wpcf7 input[type="submit"], .wpcf7 .button, .wpcf7 .entry-content
.button{padding:15px
60px;background:#666;color:#f5f5f5;display:inline-block;font-weight:300;width:auto;border:none;box-shadow:none;border-radius:2px;text-transform:capitalize;letter-spacing:1px;font-weight:100;padding:10px
60px}.wpcf7 button:hover, .wpcf7 input[type="button"]:hover, .wpcf7 input[type="reset"]:hover, .wpcf7 input[type="submit"]:hover, .wpcf7 .button:hover, .wpcf7 .entry-content .button:hover{background:#ea5b31}@media only screen and (max-width: 1024px){.wpcf7 button, .wpcf7 input[type="button"], .wpcf7 input[type="reset"], .wpcf7 input[type="submit"], .wpcf7 .button, .wpcf7 .entry-content
.button{width:100%;padding:15px
60px}}.app-callout{background:#E0E0E0;text-align:center;margin:0
auto 20px;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out}.app-callout:hover{background:#858585;color:#f5f5f5}.app-callout .inner-wrap{width:520px;height:85px;margin:0
auto}.app-callout
img{height:60px;width:60px;margin-right:15px;margin-top:14px;float:left}.app-callout
.heading{float:left;margin-top:24px;font-weight:300;font-size:25px}@media only screen and (max-width: 700px){.app-callout
.heading{font-size:18px;margin-top:20px}.app-callout
img{height:40px;width:40px}.app-callout .inner-wrap{width:100%;height:65px}}@media only screen and (max-width: 400px){.app-callout{padding:0}.app-callout
.heading{font-size:13px;margin-top:20px}.app-callout
img{height:30px;width:30px;margin-right:10px}.app-callout .inner-wrap{width:100%;height:60px}}#cn-list div.cn-alphaindex,#cn-list span.adr span.address-name,#cn-list span.cn-image-none,#cn-list span.cn-relation-label,#cn-list span.contact-label,#cn-list span.date span.date-name,#cn-list span.email span.email-name,#cn-list span.im-network span.im-name,#cn-list span.link span.link-name,#cn-page-nav .page-numbers,#cn-page-nav a,span.date-name{font-weight:700}#cn-list div.vevent abbr,.vevent
abbr{letter-spacing:normal;border:0;cursor:default;text-transform:none}#cn-list span.cn-image-style,#cn-page-nav input,input#cn-search-submit{-moz-box-sizing:border-box;box-sizing:border-box}#cn-list span.cn-image-style,#cn-page-nav input,#cn-search-input,input#cn-search-submit{-webkit-box-sizing:border-box}#cn-list .vcard
span{display:initial}#cn-list .vcard span.wpml-nodis{display:none}#cn-list .cn-clear{clear:both}#cn-list div.cn-list-head{position:relative}#cn-list div.cn-list-section-head
h4{font-size:16px;padding:0;margin:.8em 0}#cn-list div.cn-alphaindex{font-size:14px;position:relative;bottom:0;right:0}#cn-list
label{cursor:pointer}#wpadminbar #wp-admin-bar-connections-entry-edit>.ab-item:before{content:'\f464';top:2px}#cn-list span.cn-image-style{-webkit-border-radius:4px;border-radius:4px;background-color:#FFF;border:1px
solid #E3E3E3;display:inline-block;line-height:0;margin:0
0 5px;max-width:100%;padding:5px;width:auto}#cn-list span.cn-image-none{color:#AAA;line-height:normal;max-width:100%;text-align:center;text-shadow:1px 1px 0 #FFF}#cn-list
img{box-shadow:none}img.cn-image{border:none!important;height:auto!important;left:0!important;margin:0!important;max-height:none!important;max-width:100%;padding:0!important;position:relative!important;top:0!important;width:auto}#cn-list
span.fn{display:inline-block}#cn-list span.contact-name,#cn-list span.org,#cn-list span.organization-name,#cn-list span.organization-unit,#cn-list
span.title{display:block}#cn-list ul.cn-relations{line-height:normal;list-style:none;margin:0
0 10px}#cn-list ul.cn-relations
li{margin:0}#cn-list
span.adr{display:block;margin-bottom:10px}#cn-list span.adr span.address-name,#cn-list span.adr span.country-name,#cn-list span.adr span.extended-address,#cn-list span.adr span.geo,#cn-list span.adr span.street-address,div#cn-list span.adr span.geo span.latitude,div#cn-list span.adr span.geo
span.longitude{display:block}#cn-list span.phone-number-block{display:block;margin-bottom:10px}#cn-list
span.tel{display:block;margin:0
0 5px}#cn-list span.tel span.phone-name{font-weight:700}#cn-list span.email-address-block{display:block;margin-bottom:10px}#cn-list
span.email{background-image:none;display:block;float:none;margin:0}#cn-list span.im-network-block{display:block;margin-bottom:10px}#cn-list span.im-network{display:block}#cn-list span.social-media-block{display:block;margin-bottom:10px}#cn-list span.social-media-block
a{margin:0;padding:0}#cn-list span.social-media-block
img{border:none;margin:0;padding:0;max-height:none;max-width:none;width:auto}#cn-list span.social-media-network{display:inline-block;margin:0
1px}#cn-list span.date,#cn-list span.date-block,#cn-list span.link,#cn-list
span.vevent{display:block}#cn-list span.link-block{display:block;margin-bottom:10px}#cn-list span.date-block{margin-bottom:10px}#cn-list span input,#cn-list span input[type=text]{display:inline;float:none;width:auto}#cn-list .chosen-container .chosen-search
input{width:100%}#cn-list .chosen-container-multi .chosen-choices .search
input{line-height:normal}#cn-list .chosen-container .chosen-results .active-result{background:0 0!important}#cn-list .chosen-container .chosen-results
.highlighted{background:#3875D7!important;color:#FFF}#cn-list .chosen-container ul.chosen-results{clear:both!important;margin:0
4px 4px 0;max-height:240px;padding:0
0 0 4px;position:relative;overflow-x:hidden;overflow-y:auto}#cn-list .chosen-container .chosen-results
li{line-height:15px;padding:5px
6px;margin:0;list-style:none!important;color:#000;text-transform:none;font-size:100%!important;border:none!important;background-image:none!important}#cn-list .chosen-container .chosen-results li.group-result{color:#999;text-transform:uppercase}#cn-list .chosen-container-single .chosen-single{line-height:24px!important}#cn-list .chosen-choices li:after{border:none}#cn-customizer-messages,#cn-search-messages{border:1px
solid rgba(0,0,0,.1);border-left:4px solid #FFBA00;padding:10px
12px;-webkit-box-shadow:0 1px 1px 0 rgba(0,0,0,.1);box-shadow:0 1px 1px 0 rgba(0,0,0,.1);margin:12px
2px 12px 0}#cn-search-input,input#cn-search-submit{box-shadow:inset 0 1px 1px rgba(0,0,0,.1);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.1)}#cn-clear-search{text-align:right}a#cn-clear-search-button{text-decoration:none}.cn-search label[for=cn-s]{display:none}#cn-search-input{background:#FFF;border:1px
solid #DFDFDF;border-right-width:0;-webkit-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;-moz-box-sizing:border-box;box-sizing:border-box;color:#888;display:inline-block;font-size:12px;float:none;height:28px;line-height:20px;margin:1px
0 1px 1px!important;padding:3px
6px;text-align:left;vertical-align:bottom;width:140px}#cn-search-input:focus{color:#373737}input#cn-search-submit{background:url(/wp-content/plugins/connections/assets/images/icons/search.png)8px center no-repeat #FFF;border:1px
solid #DFDFDF;border-left-width:0;-webkit-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;cursor:pointer;font-size:12px;float:none;height:28px;line-height:20px;margin:1px
1px 1px 0!important;padding:3px;text-align:left;vertical-align:bottom;width:30px!important}#cn-page-nav{display:block;font-size:12px;margin:20px
0;text-align:center}#cn-page-nav .page-numbers,#cn-page-nav
a{color:#AAA!important;text-decoration:none;background-color:#EEE;padding:3px
6px;-webkit-border-radius:3px;border-radius:3px;border:1px
solid;font-size:12px;margin:0
1px 0 0}#cn-page-nav a:active,#cn-page-nav a:visited{color:#AAA!important}#cn-page-nav .page-numbers.current,#cn-page-nav .page-numbers.dots,#cn-page-nav
a.disabled{color:#CCC!important}#cn-page-nav
input{background:#FFF;border:1px
solid #DFDFDF;-webkit-border-radius:3px;border-radius:3px;color:#888;display:inline;float:none;font-size:12px;height:auto;line-height:15px;margin:1px;padding:3px;text-align:center;vertical-align:baseline;width:30px}input#cn-submit{-webkit-border-radius:4px;border-radius:4px;color:#666;display:inline;-webkit-box-shadow:0 1px 2px 1px rgba(100,100,100,.4);box-shadow:0 1px 2px 1px rgba(100,100,100,.4);float:none;background:#E3E3E3;background:-webkit-gradient(linear,left top,left bottom,color-stop(1%,#E3E3E3),to(#F1F1F1));background:-webkit-linear-gradient(top,#E3E3E3 1%,#F1F1F1 100%);background:linear-gradient(to bottom,#E3E3E3 1%,#F1F1F1 100%);border:1px
solid #D3D3D3;font-size:12px;margin:2px;padding:3px
8px;position:relative;vertical-align:top}.cn-gmap
img{background-color:transparent;max-width:none!important}#cn-list span.cn-return-to-top
img{-webkit-border-radius:4px;border-radius:4px;background-color:#FFF;border:1px
solid #E3E3E3;display:inline-block;float:none;margin:0
0 -6px;max-width:none;padding:5px}.cn-metabox
input{padding:1px
6px}.cn-metabox input.small-text{width:50px}.cn-metabox input.regular-text{display:block;width:25em}.cn-metabox input.large-text{width:99%}.cn-metabox span.cn-radio-option{padding-right:10px}.cn-metabox div.cn-radio-option{margin-bottom:6px}.cn-metabox textarea.small-text{height:196px;width:49%}.cn-metabox textarea.large-text{height:196px;width:99%}.chosen-container{position:relative;display:inline-block;vertical-align:middle;font-size:13px;zoom:1;*display:inline;-webkit-user-select:none;-moz-user-select:none;user-select:none}.chosen-container
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.chosen-container .chosen-drop{position:absolute;top:100%;left:-9999px;z-index:1010;width:100%;border:1px
solid #aaa;border-top:0;background:#fff;box-shadow:0 4px 5px rgba(0,0,0,.15)}.chosen-container.chosen-with-drop .chosen-drop{left:0}.chosen-container
a{cursor:pointer}.chosen-container .search-choice .group-name,.chosen-container .chosen-single .group-name{margin-right:4px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-weight:400;color:#999}.chosen-container .search-choice .group-name:after,.chosen-container .chosen-single .group-name:after{content:":";padding-left:2px;vertical-align:top}.chosen-container-single .chosen-single{position:relative;display:block;overflow:hidden;padding:0
0 0 8px;height:25px;border:1px
solid #aaa;border-radius:5px;background-color:#fff;background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#fff),color-stop(50%,#f6f6f6),color-stop(52%,#eee),color-stop(100%,#f4f4f4));background:-webkit-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);background:-moz-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);background:-o-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);background:linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);background-clip:padding-box;box-shadow:0 0 3px #fff inset,0 1px 1px rgba(0,0,0,.1);color:#444;text-decoration:none;white-space:nowrap;line-height:24px}.chosen-container-single .chosen-default{color:#999}.chosen-container-single .chosen-single
span{display:block;overflow:hidden;margin-right:26px;text-overflow:ellipsis;white-space:nowrap}.chosen-container-single .chosen-single-with-deselect
span{margin-right:38px}.chosen-container-single .chosen-single
abbr{position:absolute;top:6px;right:26px;display:block;width:12px;height:12px;background:url(/wp-content/plugins/connections/vendor/chosen/chosen-sprite.png) -42px 1px no-repeat;font-size:1px}.chosen-container-single .chosen-single abbr:hover{background-position:-42px -10px}.chosen-container-single.chosen-disabled .chosen-single abbr:hover{background-position:-42px -10px}.chosen-container-single .chosen-single
div{position:absolute;top:0;right:0;display:block;width:18px;height:100%}.chosen-container-single .chosen-single div
b{display:block;width:100%;height:100%;background:url(/wp-content/plugins/connections/vendor/chosen/chosen-sprite.png) no-repeat 0 2px}.chosen-container-single .chosen-search{position:relative;z-index:1010;margin:0;padding:3px
4px;white-space:nowrap}.chosen-container-single .chosen-search input[type=text]{margin:1px
0;padding:4px
20px 4px 5px;width:100%;height:auto;outline:0;border:1px
solid #aaa;background:#fff url(/wp-content/plugins/connections/vendor/chosen/chosen-sprite.png) no-repeat 100% -20px;background:url(/wp-content/plugins/connections/vendor/chosen/chosen-sprite.png) no-repeat 100% -20px;font-size:1em;font-family:sans-serif;line-height:normal;border-radius:0}.chosen-container-single .chosen-drop{margin-top:-1px;border-radius:0 0 4px 4px;background-clip:padding-box}.chosen-container-single.chosen-container-single-nosearch .chosen-search{position:absolute;left:-9999px}.chosen-container .chosen-results{color:#444;position:relative;overflow-x:hidden;overflow-y:auto;margin:0
4px 4px 0;padding:0
0 0 4px;max-height:240px;-webkit-overflow-scrolling:touch}.chosen-container .chosen-results
li{display:none;margin:0;padding:5px
6px;list-style:none;line-height:15px;word-wrap:break-word;-webkit-touch-callout:none}.chosen-container .chosen-results li.active-result{display:list-item;cursor:pointer}.chosen-container .chosen-results li.disabled-result{display:list-item;color:#ccc;cursor:default}.chosen-container .chosen-results
li.highlighted{background-color:#3875d7;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#3875d7),color-stop(90%,#2a62bc));background-image:-webkit-linear-gradient(#3875d7 20%,#2a62bc 90%);background-image:-moz-linear-gradient(#3875d7 20%,#2a62bc 90%);background-image:-o-linear-gradient(#3875d7 20%,#2a62bc 90%);background-image:linear-gradient(#3875d7 20%,#2a62bc 90%);color:#fff}.chosen-container .chosen-results li.no-results{color:#777;display:list-item;background:#f4f4f4}.chosen-container .chosen-results li.group-result{display:list-item;font-weight:700;cursor:default}.chosen-container .chosen-results li.group-option{padding-left:15px}.chosen-container .chosen-results li
em{font-style:normal;text-decoration:underline}.chosen-container-multi .chosen-choices{position:relative;overflow:hidden;margin:0;padding:0
5px;width:100%;height:auto!important;height:1%;border:1px
solid #aaa;background-color:#fff;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(1%,#eee),color-stop(15%,#fff));background-image:-webkit-linear-gradient(#eee 1%,#fff 15%);background-image:-moz-linear-gradient(#eee 1%,#fff 15%);background-image:-o-linear-gradient(#eee 1%,#fff 15%);background-image:linear-gradient(#eee 1%,#fff 15%);cursor:text}.chosen-container-multi .chosen-choices
li{float:left;list-style:none}.chosen-container-multi .chosen-choices li.search-field{margin:0;padding:0;white-space:nowrap}.chosen-container-multi .chosen-choices li.search-field input[type=text]{margin:1px
0;padding:0;height:25px;outline:0;border:0!important;background:transparent!important;box-shadow:none;color:#999;font-size:100%;font-family:sans-serif;line-height:normal;border-radius:0}.chosen-container-multi .chosen-choices li.search-choice{position:relative;margin:3px
5px 3px 0;padding:3px
20px 3px 5px;border:1px
solid #aaa;max-width:100%;border-radius:3px;background-color:#eee;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),color-stop(100%,#eee));background-image:-webkit-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:-moz-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:-o-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-size:100% 19px;background-repeat:repeat-x;background-clip:padding-box;box-shadow:0 0 2px #fff inset,0 1px 0 rgba(0,0,0,.05);color:#333;line-height:13px;cursor:default}.chosen-container-multi .chosen-choices li.search-choice
span{word-wrap:break-word}.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{position:absolute;top:4px;right:3px;display:block;width:12px;height:12px;background:url(/wp-content/plugins/connections/vendor/chosen/chosen-sprite.png) -42px 1px no-repeat;font-size:1px}.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover{background-position:-42px -10px}.chosen-container-multi .chosen-choices li.search-choice-disabled{padding-right:5px;border:1px
solid #ccc;background-color:#e4e4e4;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),color-stop(100%,#eee));background-image:-webkit-linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:-moz-linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:-o-linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);color:#666}.chosen-container-multi .chosen-choices li.search-choice-focus{background:#d4d4d4}.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close{background-position:-42px -10px}.chosen-container-multi .chosen-results{margin:0;padding:0}.chosen-container-multi .chosen-drop .result-selected{display:list-item;color:#ccc;cursor:default}.chosen-container-active .chosen-single{border:1px
solid #5897fb;box-shadow:0 0 5px rgba(0,0,0,.3)}.chosen-container-active.chosen-with-drop .chosen-single{border:1px
solid #aaa;-moz-border-radius-bottomright:0;border-bottom-right-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#eee),color-stop(80%,#fff));background-image:-webkit-linear-gradient(#eee 20%,#fff 80%);background-image:-moz-linear-gradient(#eee 20%,#fff 80%);background-image:-o-linear-gradient(#eee 20%,#fff 80%);background-image:linear-gradient(#eee 20%,#fff 80%);box-shadow:0 1px 0 #fff inset}.chosen-container-active.chosen-with-drop .chosen-single
div{border-left:0;background:transparent}.chosen-container-active.chosen-with-drop .chosen-single div
b{background-position:-18px 2px}.chosen-container-active .chosen-choices{border:1px
solid #5897fb;box-shadow:0 0 5px rgba(0,0,0,.3)}.chosen-container-active .chosen-choices li.search-field input[type=text]{color:#222!important}.chosen-disabled{opacity:.5!important;cursor:default}.chosen-disabled .chosen-single{cursor:default}.chosen-disabled .chosen-choices .search-choice .search-choice-close{cursor:default}.chosen-rtl{text-align:right}.chosen-rtl .chosen-single{overflow:visible;padding:0
8px 0 0}.chosen-rtl .chosen-single
span{margin-right:0;margin-left:26px;direction:rtl}.chosen-rtl .chosen-single-with-deselect
span{margin-left:38px}.chosen-rtl .chosen-single
div{right:auto;left:3px}.chosen-rtl .chosen-single
abbr{right:auto;left:26px}.chosen-rtl .chosen-choices
li{float:right}.chosen-rtl .chosen-choices li.search-field input[type=text]{direction:rtl}.chosen-rtl .chosen-choices li.search-choice{margin:3px
5px 3px 0;padding:3px
5px 3px 19px}.chosen-rtl .chosen-choices li.search-choice .search-choice-close{right:auto;left:4px}.chosen-rtl.chosen-container-single-nosearch .chosen-search,.chosen-rtl .chosen-drop{left:9999px}.chosen-rtl.chosen-container-single .chosen-results{margin:0
0 4px 4px;padding:0
4px 0 0}.chosen-rtl .chosen-results li.group-option{padding-right:15px;padding-left:0}.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single
div{border-right:0}.chosen-rtl .chosen-search input[type=text]{padding:4px
5px 4px 20px;background:#fff url(/wp-content/plugins/connections/vendor/chosen/chosen-sprite.png) no-repeat -30px -20px;background:url(/wp-content/plugins/connections/vendor/chosen/chosen-sprite.png) no-repeat -30px -20px;direction:rtl}.chosen-rtl.chosen-container-single .chosen-single div
b{background-position:6px 2px}.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div
b{background-position:-12px 2px}@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi),only screen and (min-resolution:1.5dppx){.chosen-rtl .chosen-search input[type=text],.chosen-container-single .chosen-single abbr,.chosen-container-single .chosen-single div b,.chosen-container-single .chosen-search input[type=text],.chosen-container-multi .chosen-choices .search-choice .search-choice-close,.chosen-container .chosen-results-scroll-down span,.chosen-container .chosen-results-scroll-up
span{background-image:url(/wp-content/plugins/connections/vendor/chosen/chosen-sprite@2x.png)!important;background-size:52px 37px!important;background-repeat:no-repeat!important}}div.wpcf7{margin:0;padding:0}div.wpcf7-response-output{margin:2em
0.5em 1em;padding:0.2em 1em}div.wpcf7 .screen-reader-response{position:absolute;overflow:hidden;clip:rect(1px,1px,1px,1px);height:1px;width:1px;margin:0;padding:0;border:0}div.wpcf7-mail-sent-ok{border:2px
solid #398f14}div.wpcf7-mail-sent-ng{border:2px
solid #f00}div.wpcf7-spam-blocked{border:2px
solid #ffa500}div.wpcf7-validation-errors{border:2px
solid #f7e700}span.wpcf7-form-control-wrap{position:relative}span.wpcf7-not-valid-tip{color:#f00;font-size:1em;display:block}.use-floating-validation-tip span.wpcf7-not-valid-tip{position:absolute;top:20%;left:20%;z-index:100;border:1px
solid #f00;background:#fff;padding: .2em .8em}span.wpcf7-list-item{margin-left:0.5em}.wpcf7-display-none{display:none}div.wpcf7 img.ajax-loader{border:none;vertical-align:middle;margin-left:4px}div.wpcf7 div.ajax-error{display:none}div.wpcf7
.placeheld{color:#888}.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.container
img{}}.container:before,.container:after{display:table;content:" "}.container:after{clear:both}.container:before,.container:after{display:table;content:" "}.container:after{clear:both}.row{margin-right:-15px;margin-left:-15px}.row:before,.row:after{display:table;content:" "}.row:after{clear:both}.row:before,.row:after{display:table;content:" "}.row:after{clear:both}.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11{float:left}.col-xs-1{width:8.333333333333332%}.col-xs-2{width:16.666666666666664%}.col-xs-3{width:25%}.col-xs-4{width:33.33333333333333%}.col-xs-5{width:41.66666666666667%}.col-xs-6{width:50%}.col-xs-7{width:58.333333333333336%}.col-xs-8{width:66.66666666666666%}.col-xs-9{width:75%}.col-xs-10{width:83.33333333333334%}.col-xs-11{width:91.66666666666666%}.col-xs-12{width:100%}@media (min-width: 768px){.container{max-width:750px}.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11{float:left}.col-sm-1{width:8.333333333333332%}.col-sm-2{width:16.666666666666664%}.col-sm-3{width:25%}.col-sm-4{width:33.33333333333333%}.col-sm-5{width:41.66666666666667%}.col-sm-6{width:50%}.col-sm-7{width:58.333333333333336%}.col-sm-8{width:66.66666666666666%}.col-sm-9{width:75%}.col-sm-10{width:83.33333333333334%}.col-sm-11{width:91.66666666666666%}.col-sm-12{width:100%}.col-sm-push-1{left:8.333333333333332%}.col-sm-push-2{left:16.666666666666664%}.col-sm-push-3{left:25%}.col-sm-push-4{left:33.33333333333333%}.col-sm-push-5{left:41.66666666666667%}.col-sm-push-6{left:50%}.col-sm-push-7{left:58.333333333333336%}.col-sm-push-8{left:66.66666666666666%}.col-sm-push-9{left:75%}.col-sm-push-10{left:83.33333333333334%}.col-sm-push-11{left:91.66666666666666%}.col-sm-pull-1{right:8.333333333333332%}.col-sm-pull-2{right:16.666666666666664%}.col-sm-pull-3{right:25%}.col-sm-pull-4{right:33.33333333333333%}.col-sm-pull-5{right:41.66666666666667%}.col-sm-pull-6{right:50%}.col-sm-pull-7{right:58.333333333333336%}.col-sm-pull-8{right:66.66666666666666%}.col-sm-pull-9{right:75%}.col-sm-pull-10{right:83.33333333333334%}.col-sm-pull-11{right:91.66666666666666%}.col-sm-offset-1{margin-left:8.333333333333332%}.col-sm-offset-2{margin-left:16.666666666666664%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-4{margin-left:33.33333333333333%}.col-sm-offset-5{margin-left:41.66666666666667%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-7{margin-left:58.333333333333336%}.col-sm-offset-8{margin-left:66.66666666666666%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-10{margin-left:83.33333333333334%}.col-sm-offset-11{margin-left:91.66666666666666%}}@media (min-width: 992px){.container{max-width:970px}.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11{float:left}.col-md-1{width:8.333333333333332%}.col-md-2{width:16.666666666666664%}.col-md-3{width:25%}.col-md-4{width:33.33333333333333%}.col-md-5{width:41.66666666666667%}.col-md-6{width:50%}.col-md-7{width:58.333333333333336%}.col-md-8{width:66.66666666666666%}.col-md-9{width:75%}.col-md-10{width:83.33333333333334%}.col-md-11{width:91.66666666666666%}.col-md-12{width:100%}.col-md-push-0{left:auto}.col-md-push-1{left:8.333333333333332%}.col-md-push-2{left:16.666666666666664%}.col-md-push-3{left:25%}.col-md-push-4{left:33.33333333333333%}.col-md-push-5{left:41.66666666666667%}.col-md-push-6{left:50%}.col-md-push-7{left:58.333333333333336%}.col-md-push-8{left:66.66666666666666%}.col-md-push-9{left:75%}.col-md-push-10{left:83.33333333333334%}.col-md-push-11{left:91.66666666666666%}.col-md-pull-0{right:auto}.col-md-pull-1{right:8.333333333333332%}.col-md-pull-2{right:16.666666666666664%}.col-md-pull-3{right:25%}.col-md-pull-4{right:33.33333333333333%}.col-md-pull-5{right:41.66666666666667%}.col-md-pull-6{right:50%}.col-md-pull-7{right:58.333333333333336%}.col-md-pull-8{right:66.66666666666666%}.col-md-pull-9{right:75%}.col-md-pull-10{right:83.33333333333334%}.col-md-pull-11{right:91.66666666666666%}.col-md-offset-0{margin-left:0}.col-md-offset-1{margin-left:8.333333333333332%}.col-md-offset-2{margin-left:16.666666666666664%}.col-md-offset-3{margin-left:25%}.col-md-offset-4{margin-left:33.33333333333333%}.col-md-offset-5{margin-left:41.66666666666667%}.col-md-offset-6{margin-left:50%}.col-md-offset-7{margin-left:58.333333333333336%}.col-md-offset-8{margin-left:66.66666666666666%}.col-md-offset-9{margin-left:75%}.col-md-offset-10{margin-left:83.33333333333334%}.col-md-offset-11{margin-left:91.66666666666666%}}@media (min-width: 1200px){.container{max-width:1170px}.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11{float:left}.col-lg-1{width:8.333333333333332%}.col-lg-2{width:16.666666666666664%}.col-lg-3{width:25%}.col-lg-4{width:33.33333333333333%}.col-lg-5{width:41.66666666666667%}.col-lg-6{width:50%}.col-lg-7{width:58.333333333333336%}.col-lg-8{width:66.66666666666666%}.col-lg-9{width:75%}.col-lg-10{width:83.33333333333334%}.col-lg-11{width:91.66666666666666%}.col-lg-12{width:100%}.col-lg-push-0{left:auto}.col-lg-push-1{left:8.333333333333332%}.col-lg-push-2{left:16.666666666666664%}.col-lg-push-3{left:25%}.col-lg-push-4{left:33.33333333333333%}.col-lg-push-5{left:41.66666666666667%}.col-lg-push-6{left:50%}.col-lg-push-7{left:58.333333333333336%}.col-lg-push-8{left:66.66666666666666%}.col-lg-push-9{left:75%}.col-lg-push-10{left:83.33333333333334%}.col-lg-push-11{left:91.66666666666666%}.col-lg-pull-0{right:auto}.col-lg-pull-1{right:8.333333333333332%}.col-lg-pull-2{right:16.666666666666664%}.col-lg-pull-3{right:25%}.col-lg-pull-4{right:33.33333333333333%}.col-lg-pull-5{right:41.66666666666667%}.col-lg-pull-6{right:50%}.col-lg-pull-7{right:58.333333333333336%}.col-lg-pull-8{right:66.66666666666666%}.col-lg-pull-9{right:75%}.col-lg-pull-10{right:83.33333333333334%}.col-lg-pull-11{right:91.66666666666666%}.col-lg-offset-0{margin-left:0}.col-lg-offset-1{margin-left:8.333333333333332%}.col-lg-offset-2{margin-left:16.666666666666664%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-4{margin-left:33.33333333333333%}.col-lg-offset-5{margin-left:41.66666666666667%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-7{margin-left:58.333333333333336%}.col-lg-offset-8{margin-left:66.66666666666666%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-10{margin-left:83.33333333333334%}.col-lg-offset-11{margin-left:91.66666666666666%}}@media only screen and (min-width: 1200px){.container{max-width:1300px}}.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:1042;overflow:hidden;position:fixed;background:#0b0b0b;opacity: .8;filter:alpha(opacity=80)}.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:1043;position:fixed;outline:none !important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0
8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0
auto;text-align:left;z-index:1045}.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter{}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none !important}.mfp-preloader{color:#ccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:1044}.mfp-preloader
a{color:#ccc}.mfp-preloader a:hover{color:white}.mfp-s-ready .mfp-preloader{display:none}.mfp-s-error .mfp-content{display:none}button.mfp-close,button.mfp-arrow{overflow:visible;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;display:block;outline:none;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity: .65;filter:alpha(opacity=65);padding:0
0 18px 10px;color:white;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}.mfp-close:hover,.mfp-close:focus{opacity:1;filter:alpha(opacity=100)}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#333}.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close{color:white;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#ccc;font-size:12px;line-height:18px}.mfp-arrow{position:absolute;opacity: .65;filter:alpha(opacity=65);margin:0;top:50%;margin-top:-55px;padding:0;width:90px;height:110px}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:hover,.mfp-arrow:focus{opacity:1;filter:alpha(opacity=100)}.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:medium inset transparent}.mfp-arrow:after, .mfp-arrow .mfp-a{border-top-width:13px;border-bottom-width:13px;top:8px}.mfp-arrow:before, .mfp-arrow .mfp-b{border-top-width:21px;border-bottom-width:21px;opacity: .7}.mfp-arrow-left{left:0}.mfp-arrow-left:after, .mfp-arrow-left .mfp-a{border-right:17px solid white;margin-left:31px}.mfp-arrow-left:before, .mfp-arrow-left .mfp-b{margin-left:25px;border-right:27px solid #3f3f3f}.mfp-arrow-right{right:0}.mfp-arrow-right:after, .mfp-arrow-right .mfp-a{border-left:17px solid white;margin-left:39px}.mfp-arrow-right:before, .mfp-arrow-right .mfp-b{border-left:27px solid #3f3f3f}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-iframe-holder .mfp-close{top:-40px}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler
iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0,0,0,0.6);background:black}img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px
0;margin:0
auto}.mfp-figure{line-height:0}.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,0.6);background:#444}.mfp-figure
small{color:#bdbdbd;display:block;font-size:12px;line-height:14px}.mfp-figure
figure{margin:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px}.mfp-image-holder .mfp-content{max-width:100%}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width: 800px) and (orientation: landscape),screen and (max-height: 300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-figure
small{display:inline;margin-left:5px}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,0.6);bottom:0;margin:0;top:auto;padding:3px
5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,0.6);position:fixed;text-align:center;padding:0}}@media all and (max-width: 900px){.mfp-arrow{-webkit-transform:scale(0.75);transform:scale(0.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}.mfp-ie7 .mfp-img{padding:0}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}.mfp-ie7 .mfp-container{padding:0}.mfp-ie7 .mfp-content{padding-top:44px}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}.white-popup{background:white;padding:20px
30px;text-align:left;max-width:600px;margin:40px
auto;position:relative}.white-popup
h6{font-size:25px}@media only screen and (max-width: 400px){.white-popup{font-size:15px}.white-popup
h6{font-size:21px}}.my-mfp-zoom-in .zoom-anim-dialog{opacity:0;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;-webkit-transform:scale(0.8);-moz-transform:scale(0.8);-ms-transform:scale(0.8);-o-transform:scale(0.8);transform:scale(0.8)}.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog{-webkit-transform:scale(0.8);-moz-transform:scale(0.8);-ms-transform:scale(0.8);-o-transform:scale(0.8);transform:scale(0.8);opacity:0}.my-mfp-zoom-in.mfp-bg{opacity:0.001;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out}.my-mfp-zoom-in.mfp-ready.mfp-bg{opacity:0.8}.my-mfp-zoom-in.mfp-removing.mfp-bg{opacity:0}.my-mfp-slide-bottom .zoom-anim-dialog{opacity:0;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;-webkit-transform:translateY(-20px) perspective( 600px ) rotateX( 10deg );-moz-transform:translateY(-20px) perspective( 600px ) rotateX( 10deg );-ms-transform:translateY(-20px) perspective( 600px ) rotateX( 10deg );-o-transform:translateY(-20px) perspective( 600px ) rotateX( 10deg );transform:translateY(-20px) perspective( 600px ) rotateX( 10deg )}.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog{opacity:1;-webkit-transform:translateY(0) perspective( 600px ) rotateX( 0 );-moz-transform:translateY(0) perspective( 600px ) rotateX( 0 );-ms-transform:translateY(0) perspective( 600px ) rotateX( 0 );-o-transform:translateY(0) perspective( 600px ) rotateX( 0 );transform:translateY(0) perspective( 600px ) rotateX( 0 )}.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog{opacity:0;-webkit-transform:translateY(-10px) perspective( 600px ) rotateX( 10deg );-moz-transform:translateY(-10px) perspective( 600px ) rotateX( 10deg );-ms-transform:translateY(-10px) perspective( 600px ) rotateX( 10deg );-o-transform:translateY(-10px) perspective( 600px ) rotateX( 10deg );transform:translateY(-10px) perspective( 600px ) rotateX( 10deg )}.my-mfp-slide-bottom.mfp-bg{opacity:0.01;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out}.my-mfp-slide-bottom.mfp-ready.mfp-bg{opacity:0.8}.my-mfp-slide-bottom.mfp-removing.mfp-bg{opacity:0}.master-slider{position:relative;visibility:hidden;-moz-transform:translate3d(0,0,0)}.master-slider.ms-fullheight{height:100%}.ms-layout-partialview .ms-view{overflow:visible;background-color:transparent}.ms-layout-partialview .ms-container{overflow:hidden}.master-slider.before-init{}.master-slider
img{max-width:none}.ms-ie
img{border:none}.ms-ie8
*{opacity:inherit;filter:inherit}.ms-ie7{zoom:1}.ms-loading-container{position:absolute;width:100%;top:0}.ms-slide-auto-height{display:table}.ms-loading-container .ms-loading,
.ms-slide .ms-slide-loading{width:36px;height:36px;background:url(/wp-content/themes/allied-physicians-group/js/masterslider/style/loading-2.gif) no-repeat center white;border-radius:60px;box-shadow:0px 0px 3px rgba(0,0,0,0.2);position:absolute;left:50%;top:50%;margin:-18px;opacity:0.9}.ms-def-cursor{cursor:auto !important}.ms-grab-cursor{cursor:url("/wp-content/themes/allied-physicians-group/js/masterslider/style/grab.png"),move}.ms-grabbing-cursor{cursor:url("/wp-content/themes/allied-physicians-group/js/masterslider/style/grabbing.png"), move}.ms-ie .ms-grab-cursor{cursor:url("/wp-content/themes/allied-physicians-group/js/masterslider/masterslider/style/grab.cur"), move}.ms-ie .ms-grabbing-cursor{cursor:url("/wp-content/themes/allied-physicians-group/js/masterslider/masterslider/style/grabbing.cur"),move}.ms-view{margin:0px
auto;overflow:hidden;background:transparent;position:relative;-webkit-perspective:2000px;-moz-perspective:2000px;-ms-perspective:2000px;perspective:2000px}.ms-view .ms-slide-container{position:relative}.ms-slide{position:absolute;-webkit-transform:translateZ(0px);-moz-transform:translateZ(0px);-ms-transform:translateZ(0px);-o-transform:translateZ(0px);transform:translateZ(0px);-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;height:100%}.ms-slide.selected{}.ms-slide .ms-slide-bgcont,
.ms-slide .ms-slide-bgvideocont{position:absolute;overflow:hidden;width:100%}.ms-slide .ms-slide-bgvideocont{z-index:105;height:100%}.ms-slide .ms-slide-bgvideocont,.ms-slide-bgvideocont>video{-webkit-transform:translateZ(0.3px);-moz-transform:translateZ(0.3px);-ms-transform:translateZ(0.3px);-o-transform:translateZ(0.3px);transform:translateZ(0.3px)}.ms-slide .ms-slide-bgvideo{position:absolute;top:0px}.ms-inner-controls-cont,.ms-container{position:relative;margin:0
auto}.ms-slide .ms-slide-bgcont img,.ms-container,.ms-inner-controls-cont{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.ms-slide .ms-layer{position:absolute}.ms-layer
h2{font-size:60px;font-size:3.4em}.ms-layer
p{font-size:30px;font-size:2em;line-height:normal}.ms-slide .ms-slide-layers{position:absolute;overflow:hidden;width:100%;height:100%;z-index:110;top:0px}.ms-slide .ms-slide-video{position:absolute;top:0;z-index:111;background:black;padding:0;margin:0;border:none}.ms-parallax-layer{height:100%;width:100%}.ms-layer.video-box{background:black}.ms-layer.video-box
iframe{padding:0;margin:0;border:none;position:absolute;z-index:110}.ms-slide .ms-slide-vpbtn , .ms-slide .ms-video-btn{position:absolute;cursor:pointer;z-index:110}.ms-slide .ms-slide-vcbtn{position:absolute;cursor:pointer;z-index:113}.ms-slide-vcbtn-mobile{position:relative;bottom:0;left:0;width:100%;height:28px;background-color:black;color:white;text-align:center;cursor:pointer;z-index:113}.ms-slide-vcbtn-mobile .ms-vcbtn-txt{text-transform:uppercase;font-family:sans-serif;font-size:0.75em;display:inline-block;background:url(/wp-content/themes/allied-physicians-group/js/masterslider/style/video-close-btn.png) no-repeat 0px 3px;padding-left:15px;height:15px;color:#DBDBDB;margin-top:7px}.ms-slide .ms-slide-vcbtn,
.ms-slide .ms-slide-layers,
.ms-slide .ms-slide-vpbtn,
.ms-slide .ms-slide-video{-webkit-transform:translateZ(0.44px);-moz-transform:translateZ(0.44px);-ms-transform:translateZ(0.44px);-o-transform:translateZ(0.44px);transform:translateZ(0.44px)}.ms-video-img{position:absolute;width:100%;height:100%;top:0;left:0}.ms-mask-frame{overflow:hidden;position:absolute;float:left}.ms-thumb-list{overflow:hidden;position:absolute}.ms-thumb-list.ms-dir-h{width:100%}.ms-thumb-list.ms-dir-v{height:100%;top:0}.ms-thumbs-cont{position:relative}.ms-thumb-frame
img{width:100%;height:auto}.ms-thumb-frame{cursor:pointer;float:left;overflow:hidden;opacity:0.5;-webkit-transition:opacity 300ms;-moz-transition:opacity 300ms;-ms-transition:opacity 300ms;-o-transition:opacity 300ms;transition:opacity 300ms}.ms-thumb-frame-selected{opacity:1}.ms-tabs .ms-thumb-frame{background-color:#F6f6f6;text-shadow:0 1px 1px white;color:#222;border:solid 1px white;border-width:0 1px 1px 0;overflow:visible;position:relative;opacity:1;-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;transition:all 300ms ease-out}.ms-tabs.ms-dir-h .ms-thumb-frame{margin-top:12px}.ms-tabs.ms-dir-v .ms-thumb-frame{margin-left:12px}.ms-tabs .ms-thumb{padding:20px
20px}.ms-tabs .ms-thumb-frame-selected{opacity:1;background:#EDEDED}.ms-tabs .ms-thumb-frame .ms-thumb-ol{position:absolute;opacity:0;-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;transition:all 300ms ease-out}.ms-tabs.ms-dir-h .ms-thumb-frame .ms-thumb-ol{top:0px;left:50%;margin-left:-12px;border-bottom:solid 12px #F6f6f6;border-left:solid 12px transparent;border-right:solid 12px transparent}.ms-tabs.ms-dir-h .ms-thumb-frame-selected .ms-thumb-ol{opacity:1;top:-12px;border-bottom-color:#EDEDED}.ms-tabs.ms-dir-v .ms-thumb-frame .ms-thumb-ol{top:50%;left:0;margin-top:-12px;border-right:solid 12px #EDEDED;border-top:solid 12px transparent;border-bottom:solid 12px transparent}.ms-tabs.ms-dir-v .ms-thumb-frame-selected .ms-thumb-ol{opacity:1;left:-12px;border-right-color:white}.ms-bullet{cursor:pointer;float:left}.ms-bullets.ms-dir-h{position:absolute;bottom:20px;right:50%;width:100px}.ms-bullets-count{position:relative;right:-50%}.ms-sbar{position:absolute}.ms-sbar.ms-dir-h{left:10px;right:10px;top:5px}.ms-sbar.ms-dir-v{top:10px;bottom:10px;right:5px}.ms-sbar .ms-bar{height:4px;background:#333;border-radius:4px}.ms-sbar.ms-dir-v .ms-bar{width:4px}.ms-sbar .ms-bar{position:relative;-webkit-transition:opacity 300ms;-moz-transition:opacity 300ms;-ms-transition:opacity 300ms;-o-transition:opacity 300ms;transition:opacity 300ms}.ms-timerbar{width:100%;bottom:0px;position:absolute}.ms-ctimer{position:absolute;top:30px;left:30px;cursor:pointer}.ms-ctimer-bullet{}.ms-time-bar{-webkit-transition:width 120ms linear;-moz-transition:width 120ms linear;-ms-transition:width 120ms linear;-o-transition:width 120ms linear;transition:width 120ms linear}.ms-ie7 .ms-tooltip-arrow{height:0px}.ms-slide-info{position:absolute}.ms-slide-info.ms-dir-v{top:0}.ms-slide-info.ms-dir-h{width:100%}@keyframes point-anim{0%{transform:scale(0.5);-webkit-transform:scale(0.5);-moz-transform:scale(0.5);-o-transform:scale(0.5);-ms-transform:scale(0.5);opacity:1}100%{transform:scale(0.5);-webkit-transform:scale(0.5);-moz-transform:scale(1.5);-o-transform:scale(1.5);-ms-transform:scale(1.5);opacity:0}}@-webkit-keyframes point-anim{0%{-webkit-transform:scale(0.5);opacity:1}100%{-webkit-transform:scale(1.5);opacity:0}}.ms-android .ms-tooltip-point .ms-point-border{animation:none;-moz-animation:none;-webkit-animation:none;-o-animation:none}