table
th{font-weight:bold;border-left:1px solid #ddd;background:#d3d9eb}table td, table
th{padding:9px
10px;text-align:left}table{border:1px
solid #ddd}th,td{text-align:left;font-size:11pt;line-height:1.3}td{border-top:1px solid #ddd;border-left:1px solid #ddd}td:first-child{font-weight:bold;background:#f0f2f8;padding:6px
0;padding:0.6rem 0}@media only screen and (max-width: 2000px){table.responsive{margin-bottom:0}.pinned{position:absolute;left:0;top:0;background:#fff;width:35%;overflow:hidden;overflow-x:scroll;border-right:1px solid #ccc;border-left:1px solid #ccc}.pinned
table{border-right:none;border-left:none;width:100%}.pinned table th, .pinned table
td{white-space:nowrap;padding:9px
10px}.pinned td:last-child{border-bottom:0}div.table-wrapper{position:relative;margin-bottom:20px;overflow:hidden;border-right:1px solid #ccc}div.table-wrapper
div.scrollable{margin-left:35%}div.table-wrapper
div.scrollable{overflow:scroll;overflow-y:hidden}table.responsive td, table.responsive
th{position:relative;white-space:nowrap;overflow:hidden}table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned
td{display:none}}#cn-slim-plus .connections-list{clear:both;line-height:normal}#cn-slim-plus .cn-clear{clear:both}#cn-slim-plus div.cn-list-head{margin-bottom:25px}#cn-slim-plus .cn-search{float:right;margin-bottom:20px}#cn-slim-plus .cn-search
label{display:none}#cn-slim-plus #cn-select-label{display:block;font-size:14px;margin:10px
0 6px;text-align:left}#cn-slim-plus .cn-list-section-head .cn-alphaindex{clear:both;position:relative;margin:12px
0 0;text-align:right}#cn-slim-plus .cn-show{display:block}#cn-slim-plus .cn-list-row, #cn-slim-plus .cn-list-row-alternate{clear:both}#cn-slim-plus .cn-entry{clear:both;font-size:18px !important;position:relative;margin-bottom:15px}#cn-slim-plus
h3{cursor:pointer;display:block;font-size:20px !important;font-weight:400;line-height:20px !important;margin:0
!important;padding:15px
10px 15px !important;text-decoration:none;background:#ececec;border-bottom:0 !important;border-radius:3px}#cn-slim-plus h3
a{text-decoration:none;color:#545454}#cn-slim-plus
h4{font-size:13px;font-weight:bold;margin:0
0 1em}#cn-slim-plus
h5{font-size:1em;font-weight:bold;margin:0
0 1em}.cn-sprite{background:url(/wp-content/plugins/connections-slim-plus/sprite.gif) no-repeat 0 0;display:block;height:20px;width:20px;float:right;margin:0;padding:0;box-sizing:border-box;border-radius:50%}#cn-slim-plus .cn-open{background:url(/wp-content/plugins/connections-slim-plus/sprite.gif) no-repeat 0 -20px}#cn-slim-plus .cn-detail{padding-top:10px}#cn-slim-plus .cn-left{display:block;float:left;overflow:hidden;position:relative;top:0;width:210px}#cn-slim-plus .cn-right{display:block;float:left;margin-bottom:15px;width:-moz-calc(100% - 220px);width:-webkit-calc(100% - 220px);width:calc(100% - 220px)}#cn-slim-plus span.cn-image-style{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;background-color:#FFF;border:none;margin:0;padding:0
5px 0}#cn-slim-plus .cn-image-none{-webkit-border-radius:5px;border-radius:5px;color:#AAA;background-color:#F1F1F1;border:1px
solid #D3D3D3;font-weight:700;margin:0
0 5px;padding:0;position:relative;text-align:center;text-shadow:0px 1px 0px #E1E1E8}#cn-slim-plus .cn-detail .org, #cn-slim-plus .cn-detail
.title{font-weight:bold;margin-bottom:10px}#cn-slim-plus
span.tel{margin:0}#cn-slim-plus .vevent
abbr{border:0;text-transform:none}#cn-slim-plus .bio, #cn-slim-plus
.note{margin:0
0 1em 0;line-height:1.5em}@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){#cn-slim-plus .cn-left{display:block;float:none;margin-right:10px;overflow:hidden;position:relative;top:0;width:100%}#cn-slim-plus .cn-right{display:block;float:none;width:100%;padding-bottom:15px}}#cn-page-nav
a{font-size:25px}#cn-page-nav{font-size:24px;margin:40px
0 10px 0}#cn-page-nav
input{font-size:25px}#cn-search-input{background:#fff none;border-width:1px 0 1px 1px;border-style:solid;border-color:#dfdfdf;border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;-khtml-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#888;display:inline-block;font-size:17px;float:none;height:40px;line-height:20px;margin:1px
0 1px 1px!important;padding:3px
6px;text-align:left;vertical-align:bottom;width:140px}input#cn-search-submit{background-size:28px;border-width:1px 1px 1px 0;border-style:solid;border-color:#dfdfdf;border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;-khtml-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;font-size:17px;float:none;height:40px;line-height:20px;margin:1px
1px 1px 0!important;padding:3px;text-align:left;vertical-align:bottom;width:40px!important}.entry-content .cn-search-message{list-style-type:square;margin-left:10px}#cn-search-messages{border-left:4px solid #6d81bf;border-top:0px solid rgba(0,0,0,0.1);border-right:2px solid rgba(0,0,0,0.1);border-bottom:2px solid rgba(0,0,0,0.1);margin:12px
2px 40px 0}a#cn-clear-search-button{text-decoration:none;padding:5px
23px;background:#6d81bf;color:#f5f5f5;display:inline-block;font-size:19px;font-weight:400;border-radius:2px}a#cn-clear-search-button:hover{text-decoration:none;padding:5px
23px;background:#8899cb;color:#f5f5f5;display:inline-block;font-size:19px;font-weight:400;border-radius:2px;border-bottom:none}.fap-peds-listings .cn-sprite{background-color:#6d81bf !important}.entry-content .fap-peds-listings .cn-right
a{color:#6d81bf;border-bottom:1px solid #6d81bf}.entry-content .fap-peds-listings .cn-right a:hover{color:#6d81bf;border-bottom:2px solid #6d81bf}.fap-obgyn-listings .cn-sprite{background-color:#f27e9a !important}.entry-content .fap-obgyn-listings .cn-right
a{color:#f27e9a;border-bottom:1px solid #f27e9a}.entry-content .fap-obgyn-listings .cn-right a:hover{color:#f27e9a;border-bottom:2px solid #f27e9a}.fap-adultmed-listings .cn-sprite{background-color:#9ece84 !important}.entry-content .fap-adultmed-listings .cn-right
a{color:#9ece84;border-bottom:1px solid #9ece84}.entry-content .fap-adultmed-listings .cn-right a:hover{color:#9ece84;border-bottom:2px solid #9ece84}