/*
	Theme Name: Allied Physicians Group
	Description: Theme created by Acara Partners for Allied Physicians Group
	Author: Acara Partners
	Author URI: http://www.acarapartners.com
	Version: 2.0.1
 
	Template: genesis
	Template Version: 2.0.1
 
	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/


/* Table of Contents

	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Forms
		- Tables
	- Structure and Layout
		- Site Containers
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- WordPress
		- Genesis
		- Titles
	- Widgets
		- Featured Content
	- Plugins
		- Genesis eNews Extended
		- Genesis Latest Tweets
		- Gravity Forms
		- Jetpack
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Header Navigation
		- Primary Navigation
		- Secondary Navigation
	- Content Area
		- Entries
		- Pagination
		- Comments
	- Sidebars
	- Footer Widgets
	- Site Footer
	- Media Queries
		- max-width: 1139px
		- max-width: 1023px
		- max-width: 767px

*/


/*
HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Normalize
	normalize.css v2.1.2 | MIT License | git.io/normalize
--------------------------------------------- */

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}




/*
Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */


body {
  font-family: 'Helvetica Neue';
}

}
a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition:    all 0.3s ease-in-out;
	-ms-transition:     all 0.3s ease-in-out;
	-o-transition:      all 0.3s ease-in-out;
	transition:         all 0.3s ease-in-out;
}

::-moz-selection {
	background-color: #6d81bf;
	color: #fff;
}

::selection {
	background-color: #6d81bf;
	color: #fff;
}




strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

blockquote,
blockquote::before {
	color: #999;
}

blockquote {
	margin: 40px 40px 24px;
	margin: 4rem 4rem 2.4rem;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

.entry-content code {
	background-color: #333;
	color: #ddd;
}

cite {
	font-style: normal;
}


/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	width: auto; /* IE8 */
}

/* Forms
--------------------------------------------- */

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}


/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	margin-bottom: 4rem;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

th,
td {
	text-align: left;	
}

th {
	font-weight: bold;
}

td {
	padding: 6px 0;
	padding: 0.6rem 0;
}

td:first-child {
	padding: 6px 0;
	padding: 0.6rem 0;
}



/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
	margin: 0 auto;
	max-width: 1140px;
}

.site-inner {
	clear: both;
}

.body-wrap-physician-locations .content {
	width:73%;
}

.body-wrap-physician-locations .content a {
	border-bottom:none;
}

/* Column Widths and Positions
--------------------------------------------- */

/* Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	/*width: 950px;*/
}

.content-sidebar-sidebar .content-sidebar-wrap {
	float: left;
}

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	float: left;
	margin-left: 240px;
	width: 80%;
}

aside.sidebar.sidebar-primary.widget-area {
	float: right;
	right: 30px;
}
body.home aside.sidebar.sidebar-primary.widget-area{
	display: none;
}
/* Content */

.content {
	float: left;
	width: 65%;
}
body.home .content {
width: 100%;
}
.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
	float: left;
}

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
	width: 65%;
}

.full-width-content .content {
	width: 100%;
}

/* Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 280px;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}

/* Secondary Sidebar */

.sidebar-secondary {
	float: left;
	width: 250px;
	padding-top: 130px;
	padding-left: 20px;
	font-size: 17px;
	position: fixed;
}

.content-sidebar-sidebar .sidebar-secondary {
	float: right;
}

/* Column Classes
	Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/*
Common Classes
---------------------------------------------------------------------------------------------------- */

/* WordPress
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar {
	margin-right: 24px;
	margin-right: 2.4rem;
}

.alignright .avatar {
	margin-left: 24px;
	margin-left: 2.4rem;
}

.search-form input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

.sticky {
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
	margin: 0 auto 2.4rem;
}

img.alignnone {
	margin-bottom: 12px;
	margin-bottom: 1.2rem;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
	margin: 0 2.4rem 2.4rem 0;
}

img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
	margin: 0 0 2.4rem 2.4rem;
}

.wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 700;
	text-align: center;
}

.gallery-caption {
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
padding-left: 0;
margin-top: 50px;
margin-top: 5rem;
margin-bottom: 40px;
margin-bottom: 4rem;
font-size: 20px;
}
.breadcrumb a:hover {
color: #6d81bf;
}

@media only screen and (max-width: 1024px) {
	.breadcrumb {
		padding-left: 5%;
		padding-right: 5%;
	}
}

.archive-description,
.author-box {
	background-color: #fff;
	margin-bottom: 40px;
	margin-bottom: 4rem;
}

.archive-description {
	padding: 40px 40px 24px;
	padding: 4rem 4rem 2.4rem;
}

.author-box {
	padding: 40px;
	padding: 4rem;
}

.author-box-title {
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 4px;
	margin-bottom: 0.4rem;
}

.author-box a {
	border-bottom: 1px solid #ddd;
}

.author-box p {
	margin-bottom: 0;
}

.author-box .avatar {
	margin-right: 24px;
	margin-right: 2.4rem;
}

/* Titles
--------------------------------------------- */

.entry-title {
	font-size: 40px;
	font-size: 4rem;
	line-height: 1.2;
}

.entry-title a,
.sidebar .widget-title a {
	color: #545454;
}

.entry-title a:hover {
	color: #666;
}

.widget-title {
	font-size: 19px;
	font-size: 1.9rem;
	margin-bottom: 24px;
	margin-bottom: 1rem;
	background: #6d81bf;
	color: #f5f5f5;
	padding: 8px 10px;
	font-weight: 100;
}

.sidebar .widget-title a {
	border: none;
}

.archive-title {
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: 24px;
	margin-bottom: 2.4rem;
}


/*
Widgets
---------------------------------------------------------------------------------------------------- */

/* Featured Content
--------------------------------------------- */

.featured-content .entry {
	border-bottom: 2px solid #f5f5f5;
	margin-bottom: 20px;
	margin-bottom: 2rem;
	padding: 0 0 24px;
	padding: 0 0 2.4rem;
}

.featured-content .entry-title {
	border: none;
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1.2;
}

.featured-content .entry-title a {
	border: none;
}


/*
Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.enews-widget {
	color: #999;
}

.enews-widget .widget-title {
	color: #fff;
}

.enews-widget input {
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
}

.enews-widget input:focus {
	border: 1px solid #ddd;
}

.enews-widget input[type="submit"] {
	background-color: #f15123;
	color: #fff;
	margin: 0;
	width: 100%;
}

.enews-widget input:hover[type="submit"] {
	background-color: #fff;
	color: #333;
}

/* Genesis Latest Tweets
--------------------------------------------- */

.latest-tweets ul li {
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
}

/* Gravity Forms
--------------------------------------------- */

div.gform_wrapper input[type="email"],
div.gform_wrapper input[type="text"],
div.gform_wrapper textarea,
div.gform_wrapper .ginput_complex label {
	font-size: 16px;
	font-size: 1.6rem;
	padding: 16px;
	padding: 1.6rem;
}

div.gform_wrapper .ginput_complex label {
	padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 16px 0 0;
	margin: 1.6rem 0 0;
}

div.gform_wrapper .gform_footer input[type="submit"] {
	font-size: 14px;
	font-size: 1.4rem;
}

/* Jetpack
--------------------------------------------- */

img#wpstats {
	display: none;
}


/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {

}

.site-header .wrap {
	padding: 50px 0 10px 20px;
	padding: 5rem 0 1rem 2rem;
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	font-weight: 700;
	padding: 16px 15px;
	padding: 1.6rem 1.5rem;
	width: 320px;
}

.header-image .title-area {
	padding: 0;
}

.site-title {
	font-size: 28px;
	font-size: 2.8rem;
	line-height: 1;
	margin: 0 0 8px;
	margin: 0 0 0.8rem;
	text-transform: uppercase;
}

.site-title a,
.site-title a:hover {
	color: #333;
}

.site-description {
	color: #999;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1;
	margin-bottom: 0;
}

/* Full width header, no widgets */

.header-full-width .title-area,
.header-full-width .site-title {
	width: auto;
}

.header-image .site-description,
.header-image .site-title a {
	display: block;
	text-indent: -9999px;
}

/* Logo, hide text */

.header-image .site-header .wrap {
padding: 0;
}

.header-image .site-title a {
	float: left;
	min-height: 170px;
	width: 100%;
	background: url(http://pediatricmed.alliedphysiciansgroup.com/wp-content/uploads/2014/06/allied-physicians-group-logo.png) no-repeat left;
	background-size: 240px;
}

/* Widget Area
--------------------------------------------- */

.widget-area {
	word-wrap: break-word;
}

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 600px;
}

.header-image .site-header .widget-area {
	padding: 40px 0;
	padding: 4rem 0;
}

.site-header .search-form {
	float: right;
	margin-top: 24px;
	margin-top: 2.4rem;
}


/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
color: #999;
line-height: 0;
width: 100%;
height: auto;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
}

.genesis-nav-menu a {
color: #f5f5f5;
display: block;
padding: 28px 0px 28px 0px;
padding: 2.8rem 0rem 2.8rem 0rem;
margin: 0px 15px 0px 15px;
margin: 0rem 1rem 0rem 1rem;
position: relative;
font-weight: 300;
font-size: 17px;
letter-spacing: .5px;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #6d81bf;
}

.genesis-nav-menu .sub-menu .current-menu-item > a {
	color: #999;
}

.genesis-nav-menu .sub-menu {
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition:    opacity 0.3s ease-in-out;
	-ms-transition:     opacity 0.3s ease-in-out;
	-o-transition:      opacity 0.3s ease-in-out;
	transition:         opacity 0.3s ease-in-out;
	width: 200px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #fff;
	border: 1px solid #eee;
	border-top: none;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 16px 20px;
	padding: 1.6rem 2rem;
	position: relative;
	width: 200px;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -54px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	display: inline-block;
	float: right;
	list-style-type: none;
	padding: 28px 0;
	padding: 2.8rem 0;
	text-transform: uppercase;
}

.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .rss > a {
	margin-left: 48px;
	margin-left: 4.8rem;
}

.genesis-nav-menu > .search {
	padding: 14px 0 0;
	padding: 1.4rem 0 0;
}

.nav-primary li:first-child a {
margin-left:0px;
margin-left: 0rem;
}

/* Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
	border-top: 1px solid #eee;
}

.site-header .sub-menu .sub-menu {
	margin-top: -55px;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary {
padding-left: 15px;
padding-right: 15px;
background:#444;
}

.nav-primary a:hover,
.nav-primary .current-menu-item > a {
	
}

.nav-primary .sub-menu a:hover {
	color: #333;
}

.genesis-nav-menu .menu-item-1645 a {
	color: #6d81bf;
}

.genesis-nav-menu .menu-item-1645 a:hover {
	color: #FFF;
}

/* Secondary Navigation
--------------------------------------------- */

.nav-secondary {
	background-color: #fff;
	float: left;
}


/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Entries
--------------------------------------------- */

.entry {
	background-color: #fff;
	border-radius: 3px;
	margin: 0 0 40px 10px;
	margin: 0 0 4rem 1rem;
	/*padding: 40px 40px 24px;
	padding: 4rem 4rem 2.4rem;*/
}

.page-id-171 .entry { 	/* Find A Practice page content */
	margin: 0 0 40px;
	margin: 0 0 4rem;
	/*padding: 40px 40px 24px;
	padding: 4rem 4rem 2.4rem;*/
}

.entry-content a {
padding-bottom: 2px;
color: #6d81bf;
transition:0;
}

.entry-content a:hover {
	border-bottom: 2px solid #666;
	padding-bottom:1px;
	color:#666;
}

.entry-content .attachment a,
.entry-content .gallery a {
	border: none;
}

.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
	margin-bottom: 26px;
	margin-bottom: 2.6rem;
}

.entry-content ol,
.entry-content ul {
	margin-left: 0;
}
ul.search-result-container {
	padding-top: 10px;
}
ul.search-result-container li {
	padding-bottom: 5px;
}
.entry-content ol li {
	list-style-type: decimal;
}

.entry-content ul li {
	list-style-type: none;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content .search-form {
	width: 50%;
}

.entry-meta {
	color: #999;
	font-size: 14px;
	font-size: 1.4rem;
}

.entry-meta a {
	border-bottom: 1px solid #ddd;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
	margin-bottom: 2.4rem;
}

.entry-footer .entry-meta {
	border-top: 2px solid #f5f5f5;
	margin: 0 -40px;
	margin: 0 -4rem;
	padding: 32px 40px 8px;
	padding: 3.2rem 4rem 0.8rem;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
	margin: 0 0.6rem 0 0.2rem;
}

.entry-categories,
.entry-tags {
	display: block;
}

@media only screen and (max-width: 1023px) {
.entry {
	margin: 0 0 40px;
	margin: 0 0 4rem;
}
}
.content--call-out {
    padding: 30px 30px 10px;
    background: #ececec;
    margin: 10px 0 20px;
}
.content--call-out strong {
    font-weight: 500;
}

/* Pagination
--------------------------------------------- */

.archive-pagination,
.entry-pagination {
	font-size: 14px;
	font-size: 1.4rem;
	margin: 40px 0;
	margin: 4rem 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #333;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
	padding: 0.8rem 1.2rem;
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: #f15123;
}

.entry-pagination a {
	border-bottom: 1px solid #ddd;
}

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: #fff;
	margin-bottom: 40px;
	margin-bottom: 4rem;
}

.entry-comments {
	padding: 40px;
	padding: 4rem;
}

.comment-respond,
.entry-pings {
	padding: 40px 40px 16px;
	padding: 4rem 4rem 1.6rem;
}

.comment-respond a,
.entry-comments a {
	border-bottom: 1px solid #ddd;
}

.comment-content {
	clear: both;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	margin-right: 12px;
	margin-right: 1.2rem;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
}

.comment-list li {
	margin-top: 24px;
	margin-top: 2.4rem;
	padding: 32px;
	padding: 3.2rem;
}

.comment-list li li {
	margin-right: -32px;
	margin-right: -3.2rem;
}

li.comment {
	background-color: #f5f5f5;
	border: 2px solid #fff;
	border-right: none;
}

.comment .avatar {
	margin: 0 16px 24px 0;
	margin: 0 1.6rem 2.4rem 0;
}

.entry-pings .reply {
	display: none;
}

.bypostauthor {
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 24px;
	padding: 2.4rem;
}


/*
Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	color: #999;
}

.sidebar a {
color: #444;
display: block;
padding: 5px 10px;
}



.sidebar a:hover {
color:#f5f5f5;
}

.sidebar .current_page_item {
background:#a7a7a7;
}

.sidebar .current_page_item a {
color:#f5f5f5;
}

.sidebar p:last-child {
	margin-bottom: 0;
}

.sidebar li {
list-style-type: none;
margin-bottom: 11px;
margin-bottom: .6rem;
word-wrap: break-word;
font-weight: 400;
color: #545454;
transition: 1s;
background: #ececec;
}
.sidebar li:hover {
background:#a7a7a7;
}
.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
border-radius: 3px;
padding: 20px 0;
padding: 1rem 0;
}

.sidebar .widget:nth-child(1) {
padding-top: .6rem;
}

.sidebar .enews-widget {
	background-color: #333;
}


/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #333;
	color: #999;
	clear: both;
	padding: 40px 0 16px;
	padding: 4rem 0 1.6rem;
}

.footer-widgets-1,
.footer-widgets-3 {
	width: 350px;
}

.footer-widgets-2 {
	width: 360px;
}

.footer-widgets-1 {
	margin-right: 40px;
	margin-right: 4rem;
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;
}

.footer-widgets-3 {
	float: right;
}

.footer-widgets a {
	border-bottom: 1px solid #666;
	color: #999;
}

.footer-widgets a:hover {
	color: #ddd;
}

.footer-widgets .widget {
	margin-bottom: 24px;
	margin-bottom: 2.4rem;
}

.footer-widgets .widget-title {
	color: #fff;
}

.footer-widgets li {
	list-style-type: none;
	margin-bottom: 6px;
	margin-bottom: 0.6rem;
	word-wrap: break-word;
}

.footer-widgets .search-form input:focus {
	border: 1px solid #ddd;
}


/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #fff;
	color: #999;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 40px 0;
	padding: 4rem 0;
	text-align: center;
}

.site-footer a {
	border-bottom: 1px solid #ddd;
}

.site-footer p {
	margin-bottom: 0;
}


/*
Media Queries
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1270px) {
	.sidebar-secondary {
		width: 210px;
	}

	.body-wrap-physician-locations .content {
		width:73%;
	}

}
@media only screen and (max-width: 1250px) {
	.sidebar-content-sidebar .content {
		width: 600px;
	}
	.sidebar-content-sidebar .content-sidebar-wrap {
		width:940px;
	}

	.body-wrap-physician-locations .content {
		width:73%;
	}
	.sidebar-secondary {
		width: 230px;
	}
}
@media only screen and (max-width: 1200px) {
	
	.sidebar-content-sidebar .content-sidebar-wrap {
		width:900px;
	}

	.body-wrap-physician-locations .content {
		width:73%;
	}
}
@media only screen and (max-width: 1175px) {
	.sidebar-content-sidebar .content-sidebar-wrap {
		width: 870px;
	}
	.sidebar-content-sidebar .content {
		width: 560px;
	}
}
@media only screen and (max-width: 1139px) {

	.site-inner,
	.wrap {
		max-width: 960px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 740px;
	}

	.content,
	.site-header .widget-area {
		width: 500px;
	}
	body.postid-9223372036854775807 .content {
	width: 65%;
}
	.body-wrap-physician-locations .content {
		width:72%;
	}

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 400px;
	}



	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-primary,
	.title-area {
		width: 300px;
	}
	.genesis-nav-menu a {
	margin: 0rem 7px 0rem 7px;
	margin: 0rem .7rem 0rem .7rem;
	font-size:15px;
	}

	.sidebar-primary {
		width:250px;
	}
	.sidebar-content-sidebar .content {
		width:470px;
	}
	.sidebar-secondary {
		float: left;
		width: 200px;
	}
}

@media only screen and (max-width: 1023px) {

	body {
		background-color: #fff;
	}

	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-inner,
	.wrap {
		width: 100%;
	}

	.site-header .wrap {
		padding: 20px 0;
		padding: 2rem 0;
	}

	.body-wrap-physician-locations .content {
		width:100%;
	}

	.site-inner {
		padding-left: 5%;
		padding-right: 5%;
	}

	.archive-description,
	.author-box,
	.comment-respond,
	.entry,
	.entry-comments,
	.entry-footer .entry-meta,
	.sidebar .widget,
	.site-header {
		padding: 0;
	}

	.sidebar .widget {
		padding-top: 3rem;
		padding-top: 30px;
		margin: 0 -10px;
		margin: 0 -1rem;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-header .search-form,
	.site-title {
		text-align: center;
	}

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 28px 0px;
		padding: 2.8rem 0rem;
	}

	.site-header .search-form {
		margin: 16px auto ;
		margin: 1.6rem auto;
	}

	.genesis-nav-menu li.right {
		display: none;
	}

	.entry-footer .entry-meta {
		margin: 0;
		padding-top: 12px;
		padding-top: 1.2rem;
	}

	.sidebar .widget.enews-widget {
		padding: 40px;
		padding: 4rem;
	}

	.site-footer {
		padding: 24px 0;
		padding: 2.4rem 0;
	}

	.footer-widgets {
		padding: 40px 5% 16px;
	}

	.footer-widgets-1 {
		margin: 0;
	}

}

@media only screen and (max-width: 1023px) {
.sidebar-secondary {
margin-bottom: 70px;
}
.sidebar .widget:nth-child(1) {
padding-top: 40px;
}
}
@media only screen and (max-width: 992px) {
.header-image .site-header .wrap {
background-position: center 7%;
}
.header-image .site-header .wrap {
background-size: 250px;
}
.header-image .site-title a {
min-height: 233px;
background: url(http://pediatricmed.alliedphysiciansgroup.com/wp-content/uploads/2014/06/allied-physicians-group-logo.png) no-repeat center;
background-size: 300px;
}
.site-header .widget-area,
.title-area, 
.wrap {
width: 100%;
}
.wrap {
max-width:100%;
}
}
@media only screen and (max-width: 767px) {

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}
}

/*
Global 
---------------------------------------------------------------------------------------------------- */
.container-fluid-mobile {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media only screen and (min-width: 1300px) {
.site-inner, .wrap {
max-width: 1300px;
}
}
@media only screen and (min-width: 1200px) {
.site-inner, .wrap {
max-width: 1190px;
}
.site-header .wrap {
max-width: 1190px;
}
/*.content {
width: 790px;
}*/
}
@media only screen and (min-width: 1330px) {
.site-header .wrap {
max-width: 1190px;
}
}
@media only screen and (max-width: 1235px) {
.header-image .site-header .wrap {
padding: 0 15px;
max-width: 100%;
}
.genesis-nav-menu {
text-align: left;
}
.nav-primary .wrap {
max-width: 100%;
}
.site-inner {
	padding: 0 15px;
	max-width: 100%;
}
.breadcrumb {
	padding: 0 15px;
	max-width: 100%;
}
}

@media only screen and (max-width: 1139px) {
.header-image .site-header .wrap {
padding: 0;
max-width: 960px;
}
.nav-primary .wrap {
max-width: 960px;
}
.site-inner, .wrap {
max-width: 960px;
padding: 0;
}
.breadcrumb {
padding: 0;
}
}
@media only screen and (max-width: 1023px) {
.container-fluid-mobile {
	padding-right: 25px;
	padding-left: 25px;
	margin-right: auto;
	margin-left: auto;
}
.entry {
	margin-bottom:0;				
}
.sidebar .widget_nav_menu {
padding: 0 10px;
}
}
@media only screen and (max-width: 992px) {
.header-image .site-header .wrap {
padding: 0;
max-width:100%;
}
.header-image .site-header .widget-area {
padding: 0;
}
.site-inner, .wrap {
max-width: 100%;
padding: 0 30px;
}
.sidebar .widget_nav_menu {
padding: 0 10px;
}
}

@media only screen and (max-width: 500px) {
.header-image .site-title a {
	min-height: 233px;
	background: url(http://pediatricmed.alliedphysiciansgroup.com/wp-content/uploads/2014/06/allied-physicians-group-logo.png) no-repeat center;
	background-size: 250px;
}
.site-inner, .wrap {
max-width: 100%;
padding: 0 5%;
}
}
.apg-orange {
background:#6d81bf;
}
.apg-orange:hover {
background:#8899cb;
}
.apg-gray {
background:#8a8a8a;
}
.apg-gray:hover {
background:#767676;
}
.apg-pink {
background:#f27e9a;
}
.apg-pink:hover {
background:#ee5a7e;
}
.apg-blue {
background:#6d81bf;
}
.apg-blue:hover {
background:#66a3c9;
}
.apg-green {
background:#9ece84;
}
.apg-green:hover {
background:#88c368;
}
.btm-left-notch {
position: absolute;
bottom:0;
left:0;
width: 0;
height: 0;
border-style: solid;
border-width: 60px 0 0 60px;
border-color: transparent transparent transparent #ffffff;
line-height: 0px;
_border-color: #000000 #000000 #000000 #ffffff;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.border-top-halo-gray {
background:gray;
height:8px;
margin-bottom:10px;
}
.border-top-halo-orange {
background:#6d81bf;
height:8px;
margin-bottom:10px;
}
.border-top-halo-facebook-blue {
background:#4c66a4;
height:8px;
margin-bottom:10px;
}
.clearfix {
clear:both;
}
.link-fade {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.btn {
padding: 5px 23px;
background: #545454;
color: #f5f5f5;
display: inline-block;
font-size: 19px;
font-weight: 400;
border-radius: 2px;
}
.btn:hover {
background: #000;
}
.fa-facebook:hover {
color:#4c66a4;
}
.fa-twitter:hover {
color:#55acee;
}
.fa-youtube-square:hover {
color: #e52d27;
}

/*
Home Blog Feed
---------------------------------------------------------------------------------------------------- */
.home-after-loop-blog-puddles {
background-color: #ececec;
clear: both;
overflow: hidden;
padding: 90px 0;
padding: 9rem 0;
}
.home-after-loop-blog-puddles .widget {
float: none;
max-width: 1302px;
margin: 0 auto;
padding:0px 30px;
padding: 0rem 3rem;
}
.home-after-loop-blog-puddles .featured-content .entry-title {
border: none;
font-size:30px;
font-size: 3rem;
line-height: 1;
border-top: 3px solid #6d81bf;
}
.home-after-loop-blog-puddles .featured-content .entry-title a {
font-size: 21px;
font-size: 2.1rem;
background: #6d81bf;
color: #f5f5f5;
padding: 7px;
font-weight: 300;
}
.home-after-loop-blog-puddles .entry-time {
background: #f3784a;
padding: 7px;
padding-top: 13px;
font-size: 16px;
font-size: 1.6rem;
color: #f5f5f5;
}
.home-after-loop-blog-puddles .featured-content .entry {
border-bottom: 0px solid #F5F5F5;
margin-bottom: 0rem;
width: 25%;
float: left;
padding: 0 1%;
background: none;
}
.home-after-loop-blog-puddles .entry-content p {
font-size:18px;
margin-bottom:0;
}
.home-after-loop-blog-puddles .widget-title {
font-size: 1.6rem;
text-transform: uppercase;
text-align: right;
}
 
.home-after-loop-blog-puddles a img {
margin-right: 8px;
margin-right: 0.8rem;
}
@media only screen and (max-width: 1139px) {
.home-after-loop-blog-puddles .featured-content .entry {
width: 50%;
}
}
@media only screen and (max-width: 767px) {
.home-after-loop-blog-puddles .featured-content .entry {
width: 100%;
margin-bottom:50px;
margin-bottom: 5rem;
}
}

/*
Fixed Navigation - jQuery ScrollTop
---------------------------------------------------------------------------------------------------- */
nav {
position:relative;
}
.fixed {
position: fixed;
top: 0;
height: auto;
z-index: 3;
background: #6d81bf;
width: 100%;
-webkit-transition:  0.3s ease-in-out;
-moz-transition:     0.3s ease-in-out;
-ms-transition:      0.3s ease-in-out;
-o-transition:       0.3s ease-in-out;
transition:          0.3s ease-in-out;	
}
.fixed .genesis-nav-menu a {
color: #f5f5f5;
border-bottom: none;
padding: 2rem 1.5rem;
margin: 0rem;
}

/*
Header Connect Icons & Phone Number
---------------------------------------------------------------------------------------------------- */
.header-connect-area {
padding-top:9px;
}
.hca-top {
padding-bottom:10px;
}
.header-connect-icon{
float:right;
font-size: 27px;
margin-left: 10px;
position: relative;
}
.hci-phone .btm-left-notch {
display:none;
}
.hci-twitter a {
	color: #6d81bf;
}
.hci-facebook a {
	color: #6d81bf;
}
.hci-youtube a {
	color: #6d81bf;
}
@media only screen and (max-width: 992px) {
.header-connect-icon {
float:none;
margin:0;
}
.hci-facebook {
display:none;
}
.hci-twitter {
display:none;
}
.hci-youtube {
display:none;
}
.hci-phone {
width:100%;
text-align:left;
height:50px;
background:#8a8a8a;
padding-top:8px;
padding-left:60px;
font-size:21px;
background: url('/wp-content/uploads/2014/07/call-icon.png') #a4b0d7 no-repeat;
background-position:center left;
background-size:50px;
position:relative;
}
.hci-phone:hover {
background:#767676;
background: url('/wp-content/uploads/2014/07/call-icon.png') #44599a no-repeat;
background-position:center left;
background-size:50px;
}
.hci-phone a {
color:#f5f5f5;
}
.hci-phone .btm-left-notch {
border-width:  13px 0 0 13px;
display:block;
}
.hca-top {
padding:0;
}
}

/*
Header Buttons
---------------------------------------------------------------------------------------------------- */
.header-btn {
position: relative;
float: right;
height: 35px;
width: 200px;
font-size: 16px;
line-height: normal;
text-transform: uppercase;
text-align: left;
margin-left: 20px;
padding-top: 8px;
padding-left: 45px;
color: #f5f5f5;
}
.header-btn .btm-left-notch {
border-width: 10px 0 0 10px;
display:none;
}
.hb-apg-gray {
background: url('/wp-content/uploads/2015/01/header-btn-get-in-touch-gray.jpg') #949494 no-repeat;
background-position:center left;
background-size:35px;
}
.hb-apg-gray:hover {
background: url('/wp-content/uploads/2015/01/header-btn-get-in-touch-gray.jpg') #808080 no-repeat;
background-position:center left;
background-size:35px;
}
.hb-apg-blue {
background: url('/wp-content/uploads/2014/12/header-btn-find-a-practice-blue.jpg') #6d81bf no-repeat;
background-position:center left;
background-size:35px;
}
.hb-apg-blue:hover {
background: url('/wp-content/uploads/2014/12/header-btn-find-a-practice-blue.jpg') #8899cb no-repeat;
background-position:center left;
background-size:35px;
}

@media only screen and (max-width: 992px) {
.header-btn .btm-left-notch {
border-width: 14px 0 0 14px;
display:block;
}
.hb-apg-gray {
background: url('/wp-content/uploads/2014/12/header-btn-get-in-touch.jpg') #f26a37 no-repeat;
background-position:center left;
background-size:35px;
}
.hb-apg-gray:hover {
background: url('/wp-content/uploads/2014/12/header-btn-get-in-touch.jpg') #44599a no-repeat;
background-position:center left;
background-size:35px;
}
.header-btn {
height: 50px;
width: 100%;
padding-top:13px;
padding-left:60px;
font-size:21px;
}
.hb-apg-gray {
background: url('/wp-content/uploads/2014/12/header-btn-get-in-touch.jpg') #8899cb no-repeat;
background-position: center left;
background-size: 50px;
}
.hb-apg-gray:hover {
background: url('/wp-content/uploads/2014/12/header-btn-get-in-touch.jpg') #44599a no-repeat;
background-position: center left;
background-size:50px;
}
.hb-apg-orange {	
background: url('/wp-content/uploads/2014/12/header-btn-find-a-practice-blue.jpg') #a0c6dd no-repeat;
background-position: center left;
background-size: 50px;
}
.hb-apg-orange:hover {
background-size:50px;
}
.hb-apg-blue {
background: url('/wp-content/uploads/2014/12/header-btn-find-a-practice-blue.jpg') #6d81bf no-repeat;
background-position: center left;
background-size: 50px;
}
.hb-apg-blue:hover {
background: url('/wp-content/uploads/2014/12/header-btn-find-a-practice-blue.jpg') #44599a no-repeat;
background-position: center left;
background-size: 50px;
}
}

/*
Home Primary Callouts
---------------------------------------------------------------------------------------------------- */
.primary-callout-wrap {
margin-top:60px;
margin-bottom:50px;
}
.primary-callout {
height: 120px;
width: 100%;
color: #f5f5f5;
background: #ececec;
font-size: 25px;
padding-top: 27px;
padding-left: 150px;
line-height: normal;
text-transform: capitalize;
text-align: left;
}
.primary-callout-wrap .btm-left-notch {
border-width: 40px 0 0 40px;
}
.pc-find-a-practice {
background: url('/wp-content/uploads/2015/02/pediatrician-find-a-practice-allied-pediatric-medicine.jpg') #6d81bf no-repeat;
background-position:center left;
background-size:120px;
}
.pc-find-a-practice:hover {
background: url('/wp-content/uploads/2015/02/pediatrician-find-a-practice-allied-pediatric-medicine.jpg') #8899cb no-repeat;
background-position:center left;
background-size:120px;
}
.pc-new-families {
background: url('/wp-content/uploads/2015/02/new-mom-and-dad-allied-pediatric-medicine.jpg') #6d81bf no-repeat;
background-position:center left;
background-size:120px;
}
.pc-new-families:hover {
background: url('/wp-content/uploads/2015/02/new-mom-and-dad-allied-pediatric-medicine.jpg') #8899cb no-repeat;
background-position:center left;
background-size:120px;
}
.pc-patient-resources {
background: url('/wp-content/uploads/2015/02/patient-resources-forms-allied-pediatric-medicine.jpg') #6d81bf no-repeat;
background-position:center left;
background-size:120px;
}
.pc-patient-resources:hover {
background: url('/wp-content/uploads/2015/02/patient-resources-forms-allied-pediatric-medicine.jpg') #8899cb no-repeat;
background-position:center left;
background-size:120px;
}
.primary-callout:after {
clear:both;
}
.primary-callout img {
float: left;
height: 120px;
}
.pc-border-top {
background:gray;
height: 8px;
}
@media only screen and (max-width: 1200px) {
.primary-callout {
font-size: 22px;
padding-top: 33px;
padding-left: 142px;
}
}
@media only screen and (max-width: 1024px) {
.primary-callout {
font-size: 18px;
padding-top: 30px;
padding-left: 135px;
height: 100px;
}
}
@media only screen and (max-width: 992px) {
.primary-callout {
font-size: 26px;
padding-top: 35px;
padding-left: 150px;
height: 100px;
margin-bottom: 10px;
}
.primary-callout br {
	display:none;
}
}
@media only screen and (max-width: 650px) {
.primary-callout {
font-size: 23px;
padding-top: 23px;
padding-left: 145px;
height: 100px;
}
.primary-callout br {
	display:block;
}
}
@media only screen and (max-width: 500px) {
.primary-callout {
font-size: 22px;
padding-top: 25px;
padding-left: 145px;
height: 100px;
margin-bottom: 15px;
}
}
@media only screen and (max-width: 400px) {
.primary-callout {
font-size: 18px;
padding-top: 24px;
padding-left: 110px;
height: 90px;
margin-bottom: 15px;
}
.pc-find-a-practice {
background-size: 90px;
}
.pc-find-a-practice:hover {
background-size: 90px;
}
.pc-new-families {
background-size:90px;
}
.pc-new-families:hover {
background-size:90px;
}
.pc-patient-resources {
background-size:90px;
}
.pc-apg--patient-resources:hover {
background-size:90px;
}
}

/*
Secondary Callout
---------------------------------------------------------------------------------------------------- */
.secondary-callout-wrap {
margin-top:20px;
}
.secondary-callout {
color: #545454;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 30px;
}
.secondary-callout img {
padding-bottom: 10px;
width:100%;
}
.secondary-callout h3 {
font-weight:300;
font-size: 30px;
margin-bottom: 10px;
margin-bottom: 1rem;
}
@media only screen and (max-width: 992px) {
.secondary-callout {
padding-left: 0px;
padding-right: 0px;
margin-bottom:50px;
}
}
/*
Member Callout
---------------------------------------------------------------------------------------------------- */
.member-callout {
color: #f5f5f5;
padding: 15px;
padding-top: 20px;
padding-bottom: 40px;
position: relative;
background:#444;
border-top: 8px solid #6d81bf;
}
.member-callout .btm-left-notch {
border-width: 30px 0 0 30px;
}
.member-callout h3 {
color: #f5f5f5;
font-weight:300;
}
.member-callout p {
color: #f5f5f5;
}
.member-callout ul li {
list-style-type: none;
font-size:19px;
font-size:1.9rem;
margin-left: 0;
padding-left: 30px;
text-indent: -30px;
}
.member-callout ul li:before {
font-family: 'fontawesome';
content:'\f00c';
padding-right:10px;
}
.member-callout .btn {
padding: 5px 23px;
background: #6d81bf;
color:#f5f5f5;
display: inline-block;
font-size: 19px;
font-size:1.9rem;
font-weight: 400;
margin-left: 40px;
border-radius: 1px;
}
.member-callout .btn-left {
padding: 5px 23px;
background: #6d81bf;
color:#f5f5f5;
display: inline-block;
font-size: 19px;
font-weight: 400;
margin-left: 0;
border-radius: 1px;
width: 100%;
text-align: center;
}
.member-callout .btn:hover,
.member-callout .btn-left:hover, {
background: #f5f5f5;
color: #545454;
}
.member-callout a {
border-bottom:none;
color:white;
position: relative;
padding: 0;
}
.member-callout a:hover {
border-bottom:none;
}
.home-side-button {
width: 100%;
text-align: left;
margin-bottom: 10px;
position: relative;
background: #6d81bf;
color: #f5f5f5;
}
.home-side-button:hover{
background: #8899cb;
}
.home-side-button span {
padding: 4px 10px;
display: block;
text-transform: none;
font-weight: 200;
font-size: 21px;
}
.home-side-button span:before {
font-family: 'fontawesome';
content: '\f054';
padding-right: 10px;
}
@media only screen and (max-width: 400px) {
.member-callout ul li {
font-size:16px;
font-size:1.6rem;
}
}

/* Sidebar Primary Callouts
--------------------------------------------- */
.sidebar-primary-callout-wrap {
background: #ececec;
padding-bottom:10px;
}
.sidebar-primary-callout-wrap h4 {
font-size: 27px;
font-size:2.7rem;
margin-bottom: 20px;
text-align: left;
padding-top: 15px;
}
.sidebar-primary-callout-wrap .primary-callout {
height: 80px;
font-size: 20px;
margin-bottom:10px;
padding-left: 100px;
padding-top: 18px;
}
.sidebar-primary-callout-wrap .btm-left-notch {
border-width: 40px 0 0 40px;	
border-color: transparent transparent transparent #ececec;
}
.sidebar-primary-callout-wrap .pc-apg-green{
background: url('/wp-content/uploads/2014/07/specialty-obstetrics-gynecology.png') #9ece84 no-repeat;
background-position: center left;
background-size: 80px;
}
.sidebar-primary .pc-apg-green:hover {
background: url('/wp-content/uploads/2014/07/specialty-obstetrics-gynecology.png') #88c368 no-repeat;
background-position:center left;
background-size:80px;
}
.sidebar-primary-callout-wrap .pc-apg-pink {
background: url('/wp-content/uploads/2014/07/specialty-pediatric-medicine.png') #f27e9a no-repeat;
background-position: center left;
background-size: 80px;
}
.sidebar-primary .pc-apg-pink:hover {
background: url('/wp-content/uploads/2014/07/specialty-pediatric-medicine.png') #ee5a7e no-repeat;
background-position:center left;
background-size:80px;
}
.sidebar-primary-callout-wrap .pc-apg-blue {
background: url('/wp-content/uploads/2014/07/specialty-adult-medicine.png') #6d81bf no-repeat;
background-position: center left;
background-size: 80px;
}
.sidebar-primary .pc-apg-blue:hover {
background: url('/wp-content/uploads/2014/07/specialty-adult-medicine.png') #66a3c9 no-repeat;
background-position:center left;
background-size:80px;
}

/*
Sidebar - Facebook Widget
---------------------------------------------------------------------------------------------------- */
#text-7 {
display:block;
padding-bottom:60px;
padding-bottom: 6rem;
}
@media only screen and (max-width: 1023px) {
#text-7,
.page-id-171 #text-10 { /* Removes Facebook Like Box from Find A Practice page */
display:none;
}
}
/*
Responsive Navigation
---------------------------------------------------------------------------------------------------- */
/* Responsive Navigation toggles */
.sub-menu-toggle,
.menu-toggle {
display: none;
visibility: hidden;
}

/* Responsive Navigation toggles */
@media only screen and (min-width: 993px) {
nav {
display: block !important;
}
}

/* Responsive Navigation toggles - Mobile  */
@media only screen and (max-width: 992px) {
.menu-toggle,.sub-menu-toggle {
width:100%;
height: 50px;
display: block;
font-size: 21px;
font-weight: 200;
margin: 0 auto;
overflow: hidden;
padding:5px;
padding-left: 60px;
text-align: left;
visibility: visible;
background: url('/wp-content/uploads/2015/01/menu-icon-gray.png') #444 no-repeat;
background-position:center left;
background-size:50px;
position:relative;
display: none;
}
.menu-toggle .btm-left-notch {
border-width: 14px 0 0 14px;
}
.menu-toggle:hover {
background: url('/wp-content/uploads/2015/01/menu-icon-gray.png') #444 no-repeat;
background-position:center left;
background-size:50px;
}
.menu-toggle.activated .btm-left-notch {
border-width: 14px 0 0 14px;
border-color: transparent transparent transparent #444;
}
.nav-primary {
display: none;
position: relative;
}
.genesis-nav-menu {
color: #f5f5f5;
width: 100%;
}
.nav-primary .wrap {
width: 100%;
max-width: 100%;
}
button.menu-toggle,button.sub-menu-toggle {
color: #ffffff;
}
.genesis-nav-menu button.menu-toggle,button.sub-menu-toggle {
color: #e74c3c;
}
.sub-menu-toggle {
padding: 0;
position: absolute;
right: 0;
top: 0;
padding-left: 30px;
padding-right: 10px;
}
.menu-toggle:before {
content: "";
}
.menu-toggle.activated:before {
}
.sub-menu-toggle:before {
content: "+";
}
.sub-menu-toggle.activated:before {
content: "-";
}
.genesis-nav-menu .menu-item {
display: block;
position: relative;
text-align: left;
border-bottom: none;
}
.genesis-nav-menu .menu-item:hover {
position: relative;
}
.genesis-nav-menu .sub-menu {
clear: both;
display: none;
opacity: 1;
position: static;
width: 100%;
}
.genesis-nav-menu .sub-menu a {
border-left: 0;
position: relative;
width: auto;
margin: 0;
background: #545454;
}
.genesis-nav-menu .sub-menu a:hover {
background: #545454;
color: white;
}
.genesis-nav-menu .sub-menu .sub-menu {
margin: 0;
}
.genesis-nav-menu .sub-menu .sub-menu a {
padding-left: 30px;
}
.genesis-nav-menu .sub-menu .sub-menu .sub-menu a {
padding-left: 40px;
}
.nav-primary a:hover, .nav-primary .current-menu-item > a {
color: silver;
}
.genesis-nav-menu a, .genesis-nav-menu > .first > a, .genesis-nav-menu > .last > a {
padding: 23px 32px;
padding: 2.3rem 3.2rem;
}
.nav-primary {
width: 100%%;
}
.nav-primary li:first-child a {
margin: 0rem .7rem 0rem .7rem;
}
.genesis-nav-menu a {
font-size: 19px;
color: #f5f5f5;
}
.genesis-nav-menu a:hover {
color: silver;
}
.sub-menu .menu-item {
border-bottom: none;
}
}

/* Footer
--------------------------------------------- */
.custom-footer {
color:#f5f5f5;
background:#444;
font-weight:300;
font-size:19px;
padding-bottom: 60px;
}
.custom-footer h4 {
color:#f5f5f5;
font-weight: 300;
font-size:30px;
line-height: normal;
margin: 30px 0;
margin: 3rem 0;
}
.list-split li:nth-child(odd) {
margin-right: 3%;
}
.list-split li {
width: 47%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
float: left;
list-style: none;
margin-left: 0;
}
.list-links li a {
color:#f5f5f5;
}
.list-links li a:hover {
color:#6d81bf;
}
.list-links li:before {
color: #f5f5f5;
content: '\f054';
display: inline-block;
font-family: FontAwesome;
padding-right: 10px;
}
.footer-card {
font-size:17px;
}
.footer-social-icons-wrap {
font-size: 30px;
}
.footer-social-icons-wrap .fa {
padding-right:5px;
}
.footer-social-icons-wrap h4 {
margin-bottom:1.5rem;
}
.footer-social-icons-wrap a {
color:#fff;
}

.footer-social-icons-wrap .fa-facebook:hover {
color:#4c66a4;
}
.footer-social-icons-wrap .fa-twitter:hover {
color:#55acee;
}
.footer-card p {
float:left;
padding-left: 20px;
}
.footer-card:after {
clear:both;
}
@media only screen and (max-width: 992px) {
.footer-card p {
padding: 0px;
}
}
@media only screen and (max-width: 420px) {
.list-split li {
width: 100%;
}
}

.footer-accreds {
  margin-top: 20px;
  font-size: 14px;
}

.footer-accreds a {
  color: #f5f5f5;
  border-bottom: 1px dotted #f5f5f5;
}

.footer-accreds a:hover {
  color: #6d81bf;
}



/* Find a Practice Navigation
--------------------------------------------- */
#find-practice-nav {
text-align:center;
padding-top: 45px;
padding-bottom: 30px;
width: 100%;
margin: 0 auto;
}
#find-practice-nav .btm-left-notch {
border-width:  40px 0 0 40px;
}
.fp-nav {
display: block;
height: 150px;
color:#f5f5f5;
line-height: normal;
border-radius: 1px;
padding-top: 25px;
font-size: 28px;
border-top: gray 7px solid;
background: silver;
}
.fp-nav:hover {
background:#636363;
}
.fp-nav-peds {
border-top:#6d81bf 7px solid;	
background:#bcd7e7;
}
.fp-nav-peds:hover {
background:#66a3c9;
}
.fp-nav-peds-reverse {
background:#66a3c9;
}
.fp-nav-peds-reverse:hover {
background:#bcd7e7;
}
.fp-nav-obgyn {
border-top: #f27e9a 7px solid;
background: #f6a2b6;
}
.fp-nav-obgyn:hover {
background:#ee5a7c;
}
.fp-nav-obgyn-reverse {
background:#ee5a7c;
}
.fp-nav-obgyn-reverse:hover {
background: #f6a2b6;
}
.fp-nav-adultmed {
border-top:#9ece84 7px solid;
background:#bfdfae;
}
.fp-nav-adultmed:hover {
background:#88c368;
}
.fp-nav-adultmed-reverse {
background:#88c368;	
}
.fp-nav-adultmed-reverse:hover {
background:#bfdfae;
}
.home-before-content {
background:#cfcfcf;
}
@media only screen and (max-width: 991px) {
#find-practice-nav .col-md-4 {
padding: 0px;
}
.fp-nav {
height: 160px;
padding-top: 55px;
font-size: 25px;
margin-bottom: 10px;
}
.fp-nav br {
display:none;
}
}
@media only screen and (max-width: 400px) {
.fp-nav {
font-size: 19px;
height: 160px;
padding-top: 55px;
}
.home-before-content {
display: none;
}
}

/*
Find a Practice - Physicians Area
---------------------------------------------------------------------------------------------------- */
.fap-peds {
border-top: #6d81bf 7px solid;
}
.fap-adultmed {
border-top: #9ece84 7px solid;
}
.fap-obgyn {
border-top: #f27e9a 7px solid;
}
.fap-physician-callout {
padding-top: 10px;
}
.white-popup ul {
margin: 0 0 15px;
margin: 0 0 1.5rem;
list-style-position: inside;
}
.white-popup p {
margin: 0 0 15px;
margin: 0 0 1.5rem;
}
.white-popup ul li {
margin-left: 0;
padding-left: 30px;
text-indent: -16px;
}
.fap-physician-callout img {
width:113px;
}
.fap-physician-callout strong {
font-weight:500;
}
.fap-physician-callout:after {
clear:both;
}
.fap-pc-img {
float:left;
}
.fap-pc-desc {
float:left;
padding-left:15px;
width: 70%;
}
.entry-content .fap-pc-desc p {
margin-bottom:0;
}
.fap-pc-desc h6 {
margin-bottom: 10px;
font-size: 25px;
}
@media only screen and (max-width : 1180px) {
.fap-pc-desc {
float: left;
padding-left: 0;
margin-bottom: 20px;
width: 100%;
}
}
@media only screen and (max-width: 1139px) {
.fap-pc-desc h6 {
margin-bottom: 5px;
font-size: 20px;
}
.fap-pc-desc h6 {
margin-bottom: 5px;
font-size: 20px;
}
}
@media only screen and (max-width: 1023px) {
.fap-pc-desc {
width:60%;
margin-bottom:0;
padding-left:15px;
}
}
@media only screen and (max-width: 800px) {
.fap-pc-desc {
width:55%;
}
}
@media only screen and (max-width: 650px) {
.fap-pc-desc {
width: 60%;
font-size: 15px;
line-height: normal;
}
.fap-pc-desc h6 {
font-size: 16px;
}
}
@media only screen and (max-width: 600px) {
.fap-pc-desc {
width:55%;
}
}
@media only screen and (max-width: 400px) {
.fap-pc-desc {
width: 60%;
font-size: 15px;
line-height: normal;
padding-left:5px;
}
.fap-physician-callout {
margin-top: 10px;
}
.fap-physician-callout img {
width: 80px;
}
.fap-pc-desc h6 {
font-size: 16px;
}
}

/*
Intros
---------------------------------------------------------------------------------------------------- */
.intro-p {
padding: 10px 0;
font-size: 24px;
font-size:2.4rem;
}
.intro-h2 {
margin:30px 0;
margin: 3rem 0;
font-weight: 300;
}
.intro-img {
margin-top: 30px;
margin-top:3rem;
}
.closing-p {
padding-top:10px;
padding-bottom: 20px;
font-size: 22px;
font-size:2.2rem;
font-style: italic;
}
@media only screen and (max-width: 400px) {
.intro-p {
padding-top:20px;
font-size: 19px;
font-size:1.9rem;
}
.closing-p {
font-size: 19px;
font-size:1.9rem;
}
}

/*
Island
---------------------------------------------------------------------------------------------------- */
.island {
padding: 20px 20px 30px 20px;
padding: 0 2rem;
margin-bottom: 36px;
margin-bottom: 3.6rem;
color:#333;
}
.island p {
margin-bottom:15px;
margin-bottom: 1.5rem;
}
.island h2 {
margin: 1.5rem 0rem 2.5rem 0;
}
.island-orange {
border-top:#6d81bf solid 7px;
background: #fde6dd;
color:#333;
}
.island-orange h2 {
color: #6d81bf;
}
.island-orange h3 {
color: #6d81bf;
}
.island-green {
border-top: #88c368 solid 7px;
background:#ecf5e6;
}
.island-green h2 {
color:#88c368;
}
.island-green h3 {
color:#88c368;
}
.island-pink {
border-top:#f27e9a solid 7px;
background:#fde9ee;
}
.island-pink h2 {
color:#f27e9a;
}
.island-pink h3 {
color:#f27e9a;
}
.island-blue {
border-top:#6d81bf solid 7px;
background:#d9e8f2;
}
.island-blue h2 {
color:#74acce;
}
.island-blue h3 {
color:#74acce;
}
.island-gray {
border-top:#6d81bf solid 7px;
background:#444;
color:#f5f5f5;
}
.island-gray .btn {
background: #6d81bf;
margin-top: 1.5rem;
}
.island-gray .btn:hover {
background: #8899cb;
}
.island-gray-header {
color:#f5f5f5;
font-size:27px;
font-size:2.7rem;
margin-top:1rem;
margin-bottom:2rem;
}
.island-gray p {
font-size:19px;
}
.island-white {
background: none;
border: 1px solid #c3c3c3;
border-top-width: 5px;
}
.island-white h2 {
color:#666;
}
.island h3 {
font-size:30px;
font-size: 3rem;
margin:1rem 0 4rem 0;
margin: 10px 0px 40px 0px;
}
.island h4 {
font-size:23px;
font-size:2.3rem;
}
.island ul li {
list-style-type:none;
margin-left: 0;
padding-left: 30px;
text-indent: -17px;
}
.island ul li:before {
font-family: 'fontawesome';
content: '\f054';
padding-right: 10px;
color: #f3784a;
font-size: 15px;
}
.island .island-bottom {
font-style: italic;
font-size:27px;
font-size: 2.7rem;
font-weight: 300;
padding:10px 0;
padding:1rem 0;
margin-bottom: 10px;
margin-bottom: 1rem;
}

/*
Specialty Threshold
---------------------------------------------------------------------------------------------------- */
.specialty-threshold-wrap {
margin-top:50px;
margin-top:5rem;
}
.specialty-threshold {
width:100%;
padding:30px;
padding:3rem;
margin-bottom:15px;
margin-bottom:1.5rem;
}
.specialty-threshold:hover {
background:#545454;
}
.specialty-threshold h2 {
color: #f5f5f5;
font-weight: 300;
text-align: center;
margin-bottom: 0;
}
.specialty-threshold-green {
background: #88c368;
}
.specialty-threshold-pink {
background: #f27e9a;
}
.specialty-threshold-blue {
background: #6d81bf;
}

/*
Join Now Form
---------------------------------------------------------------------------------------------------- */
.join-now-form-wrapper {
width: 100%;
margin: 0 auto;
padding: 10px 30px;
}
.join-now-form-wrapper .row {
margin-left:0px;
margin-right:0px;
width: 100%;
}
.join-now-form-wrapper p {
margin-bottom:10px;
}
.join-now-form-wrapper h2 {
font-weight: 300;
font-size: 25px;
font-size: 2.5rem;
margin-bottom: 13px;
}
.join-now-form-wrapper textarea {
width: 100%;
height: 250px;
}
.join-now-form-wrapper input, select, textarea {
background-color: #fff;
border: 1px solid #999;
box-shadow: 1px 1px 3px #eee inset;
border-radius: 0px;
color: #6d81bf;
padding: 7px;
padding: .7rem;
width: 100%;
font-weight: 400;
}
@media only screen and (max-width : 768px) {
.join-now-form-wrapper {
padding: 10px 2px;
}
.join-now-form-wrapper textarea {
width: 100%;
}
.join-now-form-wrapper button {
width: 75%;
}	
.island-white {
padding: 20px 10px 30px 10px;
padding: 2rem 1rem 3rem 1rem;
}
}
.btn-join-now-form {
padding: 15px 60px;
background: #666;
color: #f5f5f5;
display: inline-block;
font-size: 20px;
font-weight: 300;
}
.btn-join-now-form:hover {
background: #6d81bf;
}

/*
Footer Card
---------------------------------------------------------------------------------------------------- */
.footer-card a {
color:#f5f5f5;
}
.footer-card a:hover {
color:#6d81bf;
}

/*
Search Instructions
---------------------------------------------------------------------------------------------------- */
.search-instructions {
width: 100%;
padding: 5px;
border: #ececec 3px solid;
color: gray;
margin-top: 25px;
}

.search-instructions p {
padding: 5px;
margin: 0;
}

/*
Mobile Sub Nav and Button
---------------------------------------------------------------------------------------------------- */
.show-mobile-sub-nav-btn {
display:none;
}
@media only screen and (max-width : 992px) {
.show-mobile-sub-nav-btn {
display:block;
background: #ececec;
padding: 10px 0;
font-size: 20px;
text-align: center;
margin: 25px 0;
transition: 1s;
}
.show-mobile-sub-nav-btn:hover {
background:#66a3c9;
color:#f5f5f5;
}
.show-mobile-sub-nav-btn-wrap a {
padding-bottom: 2px;
color: #66a3c9;
border-bottom: 1px dotted #666;
}
#nav_menu-2 {
padding-bottom: 3rem;
padding-bottom: 30px;
}
#nav_menu-2 .widget-title {
margin-bottom: 7px;
margin-bottom: .7rem;
background: #6d81bf;
color: #f5f5f5;
font-weight: 400;
padding: 15px 0 15px 10px;
font-size: 23px;
}
}

/*
Sidebar Member Callout
---------------------------------------------------------------------------------------------------- */
.sidebar .member-callout {
padding-bottom: 15px;
}
.sidebar .member-callout h3 {
font-size: 27px;
}
.sidebar .member-callout p {
font-size: 17px;
}
.sidebar .home-side-button span {
padding: 5px 10px;
font-size: 17px;
}
.sidebar .home-side-button {
margin-bottom:7px;
}

/*
Hospital List
---------------------------------------------------------------------------------------------------- */
.hospital-list h2 {
font-size:20px;
font-size: 2rem;
margin-bottom: 5px;
}

/*
Symptom Checker and Dosage Checker
---------------------------------------------------------------------------------------------------- */
.menu-symptom-checker,
.menu-dosage-checker {
	margin:25px 0;
	padding: 10px 10px 24px 10px;
	background:#444;
}
.menu-symptom-checker .widget-title,
.menu-dosage-checker .widget-title {
	background: none;
	color: #f5f5f5;
	font-size: 23px;
	padding-left: 4px;
	font-weight: 300;
}
.disclaimer-symptom-checker,
.disclaimer-dosage-checker {
	background: #eaeaea;
	padding: 15px;
	margin: 0 auto;
	color: gray;
	font-size: 13px;
	margin-top: 40px;
}
.disclaimer-symptom-checker p,
.disclaimer-dosage-checker p {
	margin-bottom: 10px;
}
.disclaimer-symptom-checker p:last-child,
.disclaimer-dosage-checker p:last-child {
	margin-bottom: 0;
}
.when-to-call-puddle {
	background: #ececec;
	border-top: gray solid 7px;
	padding: 15px;
	margin-bottom: 40px;
	margin-top: 50px;
}
.when-to-call-wrap {
	width: 100%;
}
.when-to-call-wrap a {
	color: #f5f5f5;
	border: 0;
	display: block;
	padding: 0;
}
.when-to-call-wrap a:hover {
	border: 0;
	padding: 0;
	color: #f5f5f5;
}
.mfp-content h3 {
	font-size: 24px;
	font-weight: 400;
	line-height: 1.4;
}
.btn-when-to-call {
	width: 100%;
	padding: 10px 15px;
	border-radius: 3px;
	font-size: 19px;
	margin-bottom:5px;
	background: #6d81bf;
}
.btn-when-to-call:hover {
	background:#8899cb;
}
.btn-when-to-call span {
	text-transform: uppercase;
	font-size:12px;
}
.btn-call-911 {
}
.btn-call-24 {;
}
.btn-no-call {
}
.symptom-checker-wrap,
.dosage-checker-wrap {
	font-size:17px;
}
.symptom-checker-wrap h2 {
	font-size:28px;
	font-weight:300;
	margin-bottom:20px;
}
.symptom-checker-wrap h3 {
	font-size: 19px;
	font-weight: 400;
	margin-bottom: 10px;
}
.symptom-checker-wrap ul {
	margin-left:15px;
}
.symptom-checker-wrap ul li {
	list-style-type: square;
	list-style-position: inside;
	margin-left: 0;
	padding-left: 20px;
	text-indent: -17px;
}
.symptom-checker-wrap ol {
	padding:10px 0;
	margin-bottom:0;
}
.symptom-checker-wrap ol li {
	list-style-type: decimal;
	list-style-position: inside;
	margin-left: 0;
	padding-left: 40px;
	text-indent: -17px;
}
.related-symptoms {
	background: #ececec;
	border-top: #6d81bf solid 7px;
	padding: 15px 10px 10px 10px;
	margin-bottom: 26px;
	font-size: 17px;
}
.related-symptoms h2 {
	font-size: 20px;
	margin-bottom: 10px;
}
.related-symptoms ul {
	margin-bottom: 10px;
}

/*
Billing FAQs
---------------------------------------------------------------------------------------------------- */

.faq-h3 {
	font-size: 20px;
	margin: 0 0 10px;
}

.faq-h3 {
	font-size: 20px;
	margin: 0 0 10px;
}

/*
Find A Practice
----------------------------------------------------------------------------------------------------

.page-id-171 .content {
	width: 825px;
}

@media only screen and (max-width : 1199px) {
	.page-id-171 .content {
	width: 800px;
}
}

@media only screen and (max-width : 1139px) {
	.page-id-171 .content {
	width: 675px;
}
}

@media only screen and (max-width : 1023px) {
	.page-id-171 .content {
	width: 100%;
}
}*/

/*
Google Maps
---------------------------------------------------------------------------------------------------- */
#map_wrapper {
   height: 283px;
   width:283px;
   color: #555555 ;
}
#map_canvas {
   width: 100%;
   height: 100%;
}
#map_canvas a {
    color: #f15c25 ;
}
#large_map_wrapper {
   height: 350px;
   width:100%;
   color: #555555;
   margin-bottom:25px;
}
#large_map_canvas {
   width: 100%;
   height: 100%;
}
#large_map_canvas a {
 color: #f15c25 ;
 border-bottom: 1px dotted #666;
 padding-bottom: 1px;
}
#large_map_canvas a:hover {
 border-bottom: 1px dotted #f15c25 ;
}
.map-screenshot:hover {
    opacity:.9;
}

/*
Form - Contact Page
---------------------------------------------------------------------------------------------------- */
#wpcf7-f695-p195-o1 {
  margin-bottom: 100px;
}
.wpcf7 input, select, textarea {
  background-color: #fff;
  border: 1px solid #999;
  box-shadow: 1px 1px 3px #eee inset;
  border-radius: 0px;
  color: #ea5b31;
  padding: 7px;
  padding: .7rem;
  width: 100%;
  font-weight: 400;
  margin-top: 10px;
}
.wpcf7 h3 {
  font-size: 18px;
  margin: 0 0 16px;
  margin: 0 0 1.6rem;
}
.wpcf7 button, .wpcf7 input[type="button"], .wpcf7 input[type="reset"], .wpcf7 input[type="submit"], .wpcf7 .button, .wpcf7 .entry-content .button {
  padding: 15px 60px;
  background: #666;
  color: #f5f5f5;
  display: inline-block;
  font-weight: 300;
  width: auto;
  border: none;
  box-shadow: none;
  border-radius: 2px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 100;
  padding: 10px 60px;
}
.wpcf7 button:hover, .wpcf7 input[type="button"]:hover, .wpcf7 input[type="reset"]:hover, .wpcf7 input[type="submit"]:hover, .wpcf7 .button:hover, .wpcf7 .entry-content .button:hover {
  background:#ea5b31;
}
@media only screen and (max-width: 1024px) {
  .wpcf7 button, .wpcf7 input[type="button"], .wpcf7 input[type="reset"], .wpcf7 input[type="submit"], .wpcf7 .button, .wpcf7 .entry-content .button {
    width:100%;
    padding: 15px 60px;
  }
}

/*
Callout - iPhone App
---------------------------------------------------------------------------------------------------- */
.app-callout {
  background: #E0E0E0;
  text-align: center;
  margin:0 auto 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.app-callout:hover {
  background: #858585;
  color: #f5f5f5;
}
.app-callout .inner-wrap {
  width: 520px;
  height: 85px;
  margin: 0 auto;
}
.app-callout img {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  margin-top: 14px;
  float: left;
}
.app-callout .heading {
  float: left;
  margin-top: 24px;
  font-weight: 300;
  font-size: 25px;
}

@media only screen and (max-width: 700px) {
  .app-callout .heading {
    font-size: 18px;
    margin-top: 20px;
  }
  .app-callout img {
    height: 40px;
    width: 40px;
  }
  .app-callout .inner-wrap {
    width: 100%;
    height:65px;
  }
}
@media only screen and (max-width: 400px) {
  .app-callout {
    padding:0;
  }
  .app-callout .heading {
    font-size: 13px;
    margin-top: 20px;
  }
  .app-callout img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  .app-callout .inner-wrap {
    width: 100%;
    height:60px;
  }
}


/*
Reach Beyond Marketing - Footer Credits
---------------------------------------------------------------------------------------------------- */

.reach-beyond {
  position: absolute;
  right: 50px;
}
.reach-beyond p {
   margin: 0;
   font-size: 15px;
}
.reach-beyond a {
   border-bottom: 1px dotted #FFF;
   color: #FFF;
}
.widget-wrap .reach-beyond a:hover {
   border-bottom: 1px solid #FFF;
   color: #FFF;
}



/* Bullseye custom styles */

.main-container{width:100%; height:100%;}
.main-container>.item-page>.page-header,
.main-container>.item-page>.icons,
.main-container>.item-page>.article-info,
.main-container>.item-page>.pager{display: none;}

#BE-Locator{width:100%; height:100%;}
#BE-Locator .BE-LocatorInner{width:100%; margin:0 auto; padding-bottom:5rem;}
#BE-Locator .BE-Header .BE-LocatorInner{padding-bottom:0;}
#BE-Locator .BE-Header, #BE-Locator .BE-Footer{width:100%;}
#BE-Locator .BE-Column1{width:57%; float:left;}
#BE-Locator .BE-Column2{width:40%; float:right;}

#BE-Locator h3{font-size:1.5rem; margin-bottom:1rem;}
#BE-Locator a, #BE-BackLink{text-decoration: none; color:#6F89CC;}
#BE-BackLink{cursor:pointer;}
#BE-Locator p{margin-bottom: 10px;}
#BE-Locator .BE-Button,
#BE-Locator input[type=submit] {
	 width:100%; text-decoration: none; color:#6F89CC; display:block; cursor: pointer; background-color:#efefef; border:1px solid #ccc; text-transform: uppercase; font-size:1.3rem; line-height: 2.5rem; font-weight: bold; text-align: center;}
#BE-Locator .BE-Button:hover{background-color:#ddd;}


#BE-Locator .BE-Column1 .BE-Contact h3,
#BE-Locator .BE-Attribute-Logo h3,
#BE-Locator .BE-Header .BE-Attribute-BannerText h3,
#BE-Locator .BE-Header .BE-Attribute-PageIntro h3{display:none;}

#BE-Locator .BE-Header{font-size: 1.5rem; line-height: 1.8rem; margin-bottom: 30px;}
#BE-Locator .BE-Header .BE-Attribute-Logo{width:30%; float:left; display:block; margin-top:20px;}
#BE-Locator .BE-Header .BE-Attribute-BannerText{float:right; width:70%; margin-top:50px; text-align: right;}
#BE-Locator .BE-Header .BE-LocationPhone{float:right; width:70%; text-align: right;}
#BE-Locator .BE-Header .BE-LocationPhone:before{content:"Call ";}
#BE-Locator .BE-Header .BE-Attribute-PageIntro{position: relative; top:50px;}
#BE-Locator .BE-Header .BE-LocationName{position:relative; top:10px; font-weight: bold; line-height: 26px; width:100%; clear:both; font-size:30px;}

#BE-Locator .BE-Column1 .BE-Component,
#BE-Locator .BE-Column2 .BE-Component,
#BE-Locator .BE-Column2 .BE-LeadForm{/*border-bottom: 1px solid #cccccc;*/ padding-bottom:10px; margin-bottom: 10px;}
#BE-Locator .BE-Column1 .BE-Gallery,
#BE-Locator .BE-Column1 .BE-LocationName,
#BE-Locator .BE-Column1 .BE-Contact,
#BE-Locator .BE-Column1 .BE-Address,
#BE-Locator .BE-Column2 .BE-Map
{border:none; padding-bottom: 0; margin-bottom: 25px;}

#BE-Locator .BE-Column1 .BE-Contact p,
#BE-Locator .BE-Column1 .BE-Address p {margin-bottom: 0;}

#BE-Locator .BE-Column1 .BE-LocationName{font-size:1.5rem;}

#BE-Locator .BE-Column1 .BE-Gallery #tabs{height:350px;}
#BE-Locator .BE-Column1 .BE-Gallery .locImage{width:100%;}

#BE-Locator .BE-Column2 .BE-Map #BE-Map-Replace{height:350px !important;}

#BE-Locator .BE-Column2 .BE-LeadForm{margin-top:50px;}
#BE-Locator #be-lead-form .be-field-wrapper{width:100%; margin-bottom:10px;}
#BE-Locator #be-lead-form .be-field-wrapper label{display:inline-block; width:30%; vertical-align: top;}
#BE-Locator #be-lead-form .be-field-wrapper label.be-field-required:after{content:"*"; color:red;}
#BE-Locator #be-lead-form .be-field-wrapper input,
#BE-Locator #be-lead-form .be-field-wrapper select,
#BE-Locator #be-lead-form .be-field-wrapper textarea {display:inline-block; width:70%; background-color: #fff; border:1px solid #ccc;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#BE-Locator #be-lead-form .be-field-wrapper textarea{height:100px;}	
#BE-Locator #be-lead-form .be-form-confirmation{font-weight: bold;}

#BE-Locator .BE-Column2 .BE-Attribute-OurProductsSolutions em, #BE-Locator .BE-Column2 .BE-Attribute-OurProductsSolutions i{font-weight:bold; font-style: italic;}
#BE-Locator .BE-Column2 .BE-Attribute-OurProductsSolutions p{margin-bottom:10px;}
#BE-Locator .BE-Column2 .BE-Attribute-OurProductsSolutions ul li{margin-bottom:10px;}
#BE-Locator .BE-Column2 .BE-Attribute-OurProductsSolutions>ul{margin-left: 25px;}
#BE-Locator .BE-Column2 .BE-Attribute-OurProductsSolutions>ul li{list-style-type: disc;}
#BE-Locator .BE-Column2 .BE-Attribute-OurProductsSolutions>ul>ul{margin-left: 20px;}
#BE-Locator .BE-Column2 .BE-Attribute-OurProductsSolutions>ul>ul li{list-style-type:circle;}

#BE-Locator .BE-Column2 .BE-Attribute-FAQs p{margin-bottom: 15px;}
#BE-Locator .BE-Column2 .BE-Attribute-FAQs strong, #BE-Locator .BE-Column2 .BE-Attribute-FAQs b{font-weight: bold;}

#BE-Locator .BE-Column1 .BE-Component h3{display:none;}
#BE-Locator .BE-Column1 .BE-Address{margin-bottom:0;}

#BE-Locator .BE-Column1 { float: left; width: 57%;}
#BE-Locator .moreText { float: left; }
#BE-Locator .moreLink{display:block; text-decoration:none; margin-top:10px; float:right; cursor:pointer;}
#BE-Locator .moreLink span{display:inline; color:#6D81BF; }
#BE-Locator .moreText{display:none;}

#BE-Locator .BE-LocationURL, #BE-Locator .BE-LocationEmail {display:inline-block;}
#BE-Locator .BE-LocationURL>a{border-right: 1px solid #cccccc; margin-right:5px;padding-right:5px;}
[class*="BE-Attribute-Title"]{font-weight:bold;}
#BE-Locator .BE-Attribute-Wrap{float:left; width:100%; border: 1px solid #cccccc; border-right:0; border-left:0; padding:10px 0;}
#BE-Locator .BE-Attribute-Wrap ~ .BE-Attribute-Wrap{ border-top: 0;}
#BE-Locator .BE-Attribute-Wrap-Left{float:left; width:29%; margin-right:1%;}
#BE-Locator .BE-Attribute-Wrap-Right{float:right; width:70%;}
#BE-Locator .BE-LocationFacebook:before{content:"Share this practice's info"; display:block; font-weight:bold; margin:10px 0 5px 0;}
#BE-Locator .BE-Distance{margin-right:5px;}
@media screen and ( max-width: 782px ) {
	#BE-Locator .BE-Column1, #BE-Locator .BE-Column2{width:100%;}   
}


/*MAP*/
body.postid-9223372036854775807 .cmloc-filter button {
	background-color: #F15C22 !important;
	color:#fff;
}

body.postid-9223372036854775807 .breadcrumb.wrap.link-fade,
body.postid-9223372036854775807 h1.entry-title {
	display: none;
}

body.postid-9223372036854775807 form.cmloc-location-filter-form {
	padding-bottom: 40px;
	position: relative;
}
body.postid-9223372036854775807 .cmloc-zip-filter {
	margin: 15px 0 5px;
	overflow: hidden;
	display: block;
}
body.postid-9223372036854775807 label.cmloc-zip-filter-radius{
	margin-top: 5px;
	display: block;
}
/*body.postid-9223372036854775807 label.cmloc-zip-filter-code, body.postid-9223372036854775807 label.cmloc-zip-filter-radius {
	width: 49%;
	float: left;
	margin-right: 0;
}

body.postid-9223372036854775807 label.cmloc-zip-filter-radius {
	
	margin-left: 2%;
}*/
body.postid-9223372036854775807 .cmloc-filter .cmloc-categories-filter {
	padding-left: 12px;
	width: 198px;
}
body.postid-9223372036854775807 .cmloc-filter button {
	padding: 8px;
	margin-left: 0;
	margin-top: 0px;
	position: absolute;
	bottom: 0;
	right: 0;
	outline:0;
}

body.postid-9223372036854775807 .cmloc-location-index-map {
	margin-top: 15px;
}

body.postid-9223372036854775807 .cmloc-filter .cmloc-input-search, .cmloc-filter .cmloc-categories-filter select {
	border-radius:0;
}

body.postid-9223372036854775807 .cmloc-location-index-top {
	margin-bottom: 5px;
}

.cmloc-filter .cmloc-field-search {
	height: 40px;
}

input[name="zipcode"] {
	display: block;
	width: 100%;
}
.cmloc-zip-filter label {
	margin-right: 0 !important;
}



/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

@font-face {
  font-family: 'Helvetica Neue';
  src: url('assets/font/HelveticaNeue-Bold.eot');
  src: url('assets/font/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/font/HelveticaNeue-Bold.woff2') format('woff2'),
    url('assets/font/HelveticaNeue-Bold.woff') format('woff'),
    url('assets/font/HelveticaNeue-Bold.ttf') format('truetype'),
    url('assets/font/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Normal';
  src: url('assets/font/Helvetica-Normal.eot');
  src: url('assets/font/Helvetica-Normal.eot?#iefix') format('embedded-opentype'),
    url('assets/font/Helvetica-Normal.woff2') format('woff2'),
    url('assets/font/Helvetica-Normal.woff') format('woff'),
    url('assets/font/Helvetica-Normal.ttf') format('truetype'),
    url('assets/font/Helvetica-Normal.svg#Helvetica-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('assets/font/HelveticaNeue-Light.eot');
  src: url('assets/font/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/font/HelveticaNeue-Light.woff2') format('woff2'),
    url('assets/font/HelveticaNeue-Light.woff') format('woff'),
    url('assets/font/HelveticaNeue-Light.ttf') format('truetype'),
    url('assets/font/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

/*--------------------------------------------------------------
# Defaults
--------------------------------------------------------------*/
.width33 {
    float: left;
    width: 33.3%;
}
a {
	text-decoration: none;
}
.site-wrapper {
	overflow: hidden;
}

/*--------------------------------------------------------------
# Header Home
--------------------------------------------------------------*/
.header-container {
  width: 100%;
}
header.home-header {
  position: fixed;
  z-index: 99;
  width: 100%;
  overflow: hidden;
  background-color: #f7f8f9;
}
/*body.home header.home-header {
  background-color: transparent;
  position: absolute;
}*/
header.home-header .site-logo {
  padding-top: 10px;
  padding-left: 10px;
  width: 10%;
  float: left;
}
/*body.home header.home-header .site-logo {
  padding-top: 15px;
}*/
header.home-header .site-logo img {
  width: 100%;
  padding-bottom: 8px;
}
/*body.home header.home-header .site-logo img {
  width:230px;
  padding-bottom: 0;
}*/
.site-navigation {
  background-color: #f7f8f9;
  float: left;
  width: 90%;
  height: 80px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 10px;
}
.site-navigation ul li {
  display: inline-block;
}
.site-nav-top {
  margin-bottom: 15px;
  overflow: hidden;
}
.quick-links {
  float: left;
  width: 40%;
  margin-top: -5px;
}

.site-social {
  float: right;
  padding-top: 5px;
}
.site-social img {
  height: 23px;
}

.menu-menu-1-container {
  float: left;
  width: 60%;
}
.mobile_menu .menu-menu-1-container {
  float: none;
  width: 100%;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  background-color: rgba(133, 133, 133, 0.3);
  position: relative;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.content-sidebar-wrap {
  overflow: hidden;
}
body.home footer {
  display: block;
}
.footer-wrapper {
  width: 95%;
  margin: 0 auto;
}
.footer-top {
  height: 150px;
  overflow: hidden;
  padding-top: 30px;
}
.footer-top .width33 {
  text-align: center;
}
.footer-top .width33#download-app {
  text-align: left;
  padding-top: 15px;
  padding-left: 30px;
}
.footer-top .width33#download-app img{
  width: 250px;
}
.footer-top .width33#footer-logo img{
  width: 210px;
}
.footer-top .width33#footer-social {
  text-align: right;
  padding-right: 30px;
  padding-top: 5px;
}
.footer-top .width33#footer-social img#phone-icon {
  width: 14px;
  margin-right: 3px;
  display: inline-block;
  vertical-align: middle;
}

.footer-top .width33#footer-social p {
  color:#858585;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  vertical-align: middle;
}
.footer-bottom {
  height: 50px;
  background-color: #858585;
  overflow: hidden;
}
.footer-bottom-left {
  width: 50%;
  float: left;
  padding-top: 15px;
  padding-left: 30px;
}
.footer-bottom-left ul li{
  display: inline-block;
  margin-right: 45px;
}
.footer-bottom-left ul li a {
  color:#fff;
  font-weight: normal;
  font-size: 13.5px;
  letter-spacing: 0.5px;
}
.footer-bottom-right {
  width: 50%;
  float: right;
  text-align: right;
  padding-top: 15px;
  padding-right: 30px;
}
.footer-bottom-right p {
  color:#fff;
  font-weight: normal;
  font-size: 13.5px;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 20px;
  display: inline-block;
  vertical-align: middle;
}
.footer-bottom-right a {
  outline:0;
}
.footer-bottom-right img.social{
  width: 26px;
  display: inline-block;
  margin-right: 3px;
  margin-left: 3px;
  vertical-align: middle;

}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

ul.quick-links li {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
ul.quick-links li a#pay-bills button {
  background-color: #ea5b31;
  color:#fff;
}
li.current_page_item {
  padding-bottom: 7px;
  border-bottom:2px solid #ee6409;
}
ul.quick-links li a {
  margin: 0;
}
li.menu-item:hover {
  padding-bottom: 7px;
  border-bottom:2px solid #ee6409;
}
ul.quick-links li a button {
  border:0;
  border-radius: 0;
  color:#fff;
  background-color: #858585;
  padding: 4px 10px 7px;
  position: relative;
  font-size: 15px;
}

.main-navigation ul li {
  display: inline-block;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
}
.main-navigation ul li a {
  color:#111112;
}
.main-navigation ul li.menu-item {
  border-right: 1px solid #ee6409;
  padding-left: 4px;
  padding-right: 7px;
}
.main-navigation ul li.menu-item:last-child {
  border-right: 0;
}

body.home .content-sidebar-wrap {
	margin-left: 0;
	width: 100%;
}
body.postid-9223372036854775807 .content-sidebar-wrap {
	margin:0 auto;
	width: 95%;
	padding-top: 110px;
}
body.postid-9223372036854775807 .content {
	width: 65%;
}
body.page-template-default .content-sidebar-wrap,
body.single-cmloc_object .content-sidebar-wrap {
	padding-top: 110px;
}

/*NEW Responsive*/ 
header.mobile_header {
  display: none;
}
ul#primary-menu {
  display: block !important;
}
.hamburger{
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  background:#ea5b31;
  border:0;
  font-size:25px;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
  color: rgba(255, 255, 255, 1);
  height: 45px;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:9px 15px 0px 15px;
  background:#ea5b31;
  border:0;
  font-size:65px;
  line-height:65px;
  cursor:pointer;
  outline:none;
  color: rgba(255, 255, 255, 1);
  z-index:10000000000000;
  height: 45px;
}
.mobile_menu{
  z-index:1000000; 
  font-weight:bold; 
  font-size:0.8em; width:100%; 
  background:#ea5b31;
  position:absolute; 
  text-align:center;
}
.mobile_menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.mobile_menu li {
  display: block;   
  padding:15px 0 15px 0; 
  border-bottom:rgba(154, 156, 158, 0.3) 1px solid;
  height: 50px;
}

.mobile_menu li a { 
  text-decoration:none;  
  margin: 0px; 
  color:#fff;
  font-size: 15px; 
  text-transform: uppercase;
}
.mobile_menu li:hover a {
  color:rgba(154, 156, 158, 0.3);
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

@media screen and (max-width: 1220px){
  header.mobile_header {
  display: block;
}
.mobile_menu {
  display: block;
}
  header.home-header .site-logo {
    padding-left: 10px;
    width: 150px
  }
  header.home-header .site-logo img {
    width: 70%;
  }
    .site-navigation {
    display: none;
  }
}

@media screen and (max-width: 1040px) {

  	body.postid-9223372036854775807 .content {
		width: 100%;
	}
	body.postid-9223372036854775807 .content-sidebar-wrap {
		padding-left: 20px;
		padding-right: 20px;
	}
	.content-sidebar-wrap {
		padding-top: 50px;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: 0;
		width: 100%;
	}
	.sidebar-secondary {
		position: relative;
		padding-top: 0;
	}
	.sidebar-content-sidebar .content-sidebar-wrap, .sidebar-sidebar-content .content-sidebar-wrap {
		margin-left: 0;
	}
}

@media screen and (max-width: 540px) {
  header.home-header .site-logo {
  	padding-top: 5px;
    padding-left: 20px;
    width: 150px;
  }
  body.home .content-sidebar-wrap {
  	padding-left: 20px;
  	padding-right: 20px;
  }
	.primary-callout-wrap {
		margin-top: 0;
	}
	.footer-top {
		padding-top: 0;
		height: 280px;
	}
	.footer-top .width33#download-app {
		padding-left: 0;
		text-align: center;
	}
	.footer-top .width33 {
		width: 100%;
		float: none;
		padding-top: 15px;
		text-align: center;
		padding-left: 0;
	}
	.footer-top .width33#footer-social {
		padding-right: 0;
		text-align: center;
	}
	.footer-top .width33#footer-social img.social {
		margin: 0 auto;
	}
	.footer-bottom-left {
		display: none;
	}
	.footer-bottom-right {
		width: 100%;
		float: none;
		text-align: center;
		padding-right: 0;
	}

	.cmloc-filter .cmloc-field-search {
		width: 100% !important;
	}
	.cmloc-filter .cmloc-categories-filter {
		float: none !important;
		width: 100% !important;
		padding-left: 0 !important;
	}
	#cmloc-location-index-map-canvas {
		height: 250px !important;
	}
	.cmloc-layout-bottom-condensed h2 {
		width: 80% !important;
	}
	.cmloc-layout-bottom-condensed .cmloc-location-snippet .cmloc-address {
		width: 65% !important;
	}
	aside.sidebar.sidebar-primary.widget-area {
		padding-bottom: 30px;
	}
	body.page-template-default .content-sidebar-wrap {
		padding-top: 50px;
	}

}
button#responsive-menu-button {
	display: none !important;
}