/*
Responsive Navigation
---------------------------------------------------------------------------------------------------- */
/* Responsive Navigation toggles */
.sub-menu-toggle,
.menu-toggle {
display: none;
visibility: hidden;
}

/* Responsive Navigation toggles */
@media only screen and (min-width: 993px) {
nav {
display: block !important;
}
}

/* Responsive Navigation toggles - Mobile  */
@media only screen and (max-width: 992px) {
.menu-toggle,.sub-menu-toggle {
width:100%;
height: 50px;
display: block;
font-size: 21px;
font-weight: 200;
margin: 0 auto;
overflow: hidden;
padding:5px;
padding-left: 60px;
text-align: left;
visibility: visible;
background: url('/wp-allied-physicians-group-pediatric-medicine/wp-content/uploads/2014/07/menu-icon.png') #444 no-repeat;
background-position:center left;
background-size:50px;
position:relative;
}
.menu-toggle .btm-left-notch {
border-width: 14px 0 0 14px;
}
.menu-toggle:hover {
background: url('/wp-allied-physicians-group-pediatric-medicine/wp-content/uploads/2014/07/menu-icon.png') #444 no-repeat;
background-position:center left;
background-size:50px;
}
.menu-toggle.activated .btm-left-notch {
border-width: 14px 0 0 14px;
border-color: transparent transparent transparent #444;
}
.nav-primary {
display: none;
position: relative;
}
.genesis-nav-menu {
color: #f5f5f5;
width: 100%;
}
.nav-primary .wrap {
width: 100%;
max-width: 100%;
}
button.menu-toggle,button.sub-menu-toggle {
color: #ffffff;
}
.genesis-nav-menu button.menu-toggle,button.sub-menu-toggle {
color: #e74c3c;
}
.sub-menu-toggle {
padding: 0;
position: absolute;
right: 0;
top: 0;
padding-left: 30px;
padding-right: 10px;
}
.menu-toggle:before {
content: "";
}
.menu-toggle.activated:before {
}
.sub-menu-toggle:before {
content: "+";
}
.sub-menu-toggle.activated:before {
content: "-";
}
.genesis-nav-menu .menu-item {
display: block;
position: relative;
text-align: left;
border-bottom: none;
}
.genesis-nav-menu .menu-item:hover {
position: relative;
}
.genesis-nav-menu .sub-menu {
clear: both;
display: none;
opacity: 1;
position: static;
width: 100%;
}
.genesis-nav-menu .sub-menu a {
border-left: 0;
position: relative;
width: auto;
margin: 0;
background: #545454;
}
.genesis-nav-menu .sub-menu a:hover {
background: #545454;
color: white;
}
.genesis-nav-menu .sub-menu .sub-menu {
margin: 0;
}
.genesis-nav-menu .sub-menu .sub-menu a {
padding-left: 30px;
}
.genesis-nav-menu .sub-menu .sub-menu .sub-menu a {
padding-left: 40px;
}
.nav-primary a:hover, .nav-primary .current-menu-item > a {
color: silver;
}
.genesis-nav-menu a, .genesis-nav-menu > .first > a, .genesis-nav-menu > .last > a {
padding: 23px 32px;
padding: 2.3rem 3.2rem;
}
.nav-primary {
width: 100%%;
}
.nav-primary li:first-child a {
margin: 0rem 1.5rem 0rem 1.5rem;
}
.genesis-nav-menu a {
font-size: 19px;
color: #f5f5f5;
}
.genesis-nav-menu a:hover {
color: silver;
}
.sub-menu .menu-item {
border-bottom: none;
}
}