/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

table th { font-weight: bold; border-left: 1px solid #ddd; background: #d3d9eb; }
table td, table th { padding: 9px 10px; text-align: left; }


table {
	border: 1px solid #ddd;
}

th,
td {
	text-align: left;
	font-size: 11pt;
	line-height: 1.3;	
}


td {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

td:first-child {
	font-weight: bold;
	background: #f0f2f8;
	padding: 6px 0;
	padding: 0.6rem 0;
}


/* Mobile */
@media only screen and (max-width: 2000px) {
	
	table.responsive { margin-bottom: 0; }
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; padding: 9px 10px;}
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	div.table-wrapper div.scrollable { margin-left: 35%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
	
	
}